{% extends 'base_dy.html.twig' %}
{% block body %}

<body data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
<div class="container">
    {% include 'head.html.twig' %}
    <div class="index_update cclear">
        <ul>
            <li class="fleft">
                <div id="vod" class="list-group carousel slide">
                    <div id="heading-text">最新电影下载</div>
                    <div id="movie_add" class="carousel slide">
                        <div class="carousel-inner">
                            <ul class="item active">
                                {% for k,info in newMovie %}
                                <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                                {% if (k+1)%10 ==0 and k>0 %}
                            </ul>
                            <ul class="item">
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <ol class="carousel-indicators">
                            {% set newMoveLength = ((newMovie|length/10)|round) -1 %}
                            {% for i in 0..newMoveLength %}
                                {% if i == 0 %}
                                    <li data-target="#movie_add" data-slide-to="{{ i }}" class="active">{{ i+1 }}</li>
                                {% else %}
                                    <li data-target="#movie_add" data-slide-to="{{ i }}">{{ i+1 }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </li>
            <li class="fright">
                <div id="tv" class="list-group">
                    <div id="heading-text">最新电视剧下载</div>
                    <div id="tv_add" class="carousel slide">
                        <div class="carousel-inner">
                            <ul class="item active">
                                {% for k,info in newTv %}
                                <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                                {% if (k+1)%10 ==0 and k>0 %}
                            </ul>
                            <ul class="item">
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <ol class="carousel-indicators">
                            {% set newTvLength = ((newTv|length/10)|round) -1 %}
                            {% for i in 0..newTvLength %}
                                {% if i == 0 %}
                                    <li data-target="#tv_add" data-slide-to="{{ i }}" class="active">{{ i+1 }}</li>
                                {% else %}
                                    <li data-target="#tv_add" data-slide-to="{{ i }}">{{ i+1 }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_today cclear">
        <div id="heading-text">今日推荐</div>
        <ul>
            {% for info in todayRecommend %}
                <li class="list-group-item"><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="index_update cclear">
        <ul>
            <li class="fleft">
                <div id="vod" class="list-group">
                    <div id="heading-text">外语片</div>
                    <ul>
                        {% for info in wyp %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div id="tv" class="list-group">
                    <div id="heading-text">国语片</div>
                    <ul>
                        {% for info in gyp %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_update cclear">
        <ul>
            <li class="fleft">
                <div id="vod" class="list-group">
                    <div id="heading-text">经典电影</div>
                    <ul>
                        {% for info in jd %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div id="tv" class="list-group">
                    <div id="heading-text">动画片</div>
                    <ul>
                        {% for info in dhp %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_update cclear">
        <ul>
            <li class="fleft">
                <div id="vod" class="list-group">
                    <div id="heading-text">国产剧</div>
                    <ul>
                        {% for info in gcj %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div id="tv" class="list-group">
                    <div id="heading-text">港台剧</div>
                    <ul>
                        {% for info in tvb %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_update cclear">
        <ul>
            <li class="fleft">
                <div id="vod" class="list-group">
                    <div id="heading-text">日韩剧</div>
                    <ul>
                        {% for info in rhj %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div id="tv" class="list-group">
                    <div id="heading-text">欧美剧</div>
                    <ul>
                        {% for info in om %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_update cclear">
        <ul>
            <li class="fleft">
                <div id="vod" class="list-group">
                    <div id="heading-text">纪录片</div>
                    <ul>
                        {% for info in jlp %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div id="tv" class="list-group">
                    <div id="heading-text">其它剧</div>
                    <ul>
                        {% for info in qtj %}
                            <li class="list-group-item"><b>{{ info.date }}</b><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_hot cclear">
        <ul>
            <li class="fleft">
                <div class="list-group">
                    <div id="heading-text">本周电影下载排行</div>
                    <ul>
                        {% for info in bzdy %}
                            <li class="list-group-item"><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div class="list-group">
                    <div id="heading-text">本周电视剧下载排行</div>
                    <ul>
                        {% for info in bzdsj %}
                            <li class="list-group-item"><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_hot cclear">
        <ul>
            <li class="fleft">
                <div class="list-group">
                    <div id="heading-text">本月电影下载排行</div>
                    <ul>
                        {% for info in bydy %}
                            <li class="list-group-item"><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="fright">
                <div class="list-group">
                    <div id="heading-text">本月电视剧下载排行</div>
                    <ul>
                        {% for info in bydsj %}
                            <li class="list-group-item"><a href="{{ path('detail',{id:info.infoId}) }}" title="{{ info.title }}">{{ info.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="index_special cclear">
        <div id="heading-text">最新专题</div>
        <ul>
            {% for hot in hotList %}
                <li class="list-group-item"><a href="{{ path('topic_list',{id:hot.id}) }}" title="{{ hot.title }}">{{ hot.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="index_coming cclear" style="display: none">
        <div id="heading-text">即将上映</div>
        <ul>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/FVQuPL22222L.html" title="淘金">淘金</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/tMTwz9444449.html"
                                           title="不会恋爱的我们">不会恋爱的我们</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/A8kjc4333334.html" title="繁花">繁花</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/Cl25B8000008.html" title="夺金">夺金</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/jQAGOSQQQQQS.html"
                                           title="启航：当风起时">启航：当风起时</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/kxhxfKHHHHHK.html"
                                           title="住我对面的小哥哥">住我对面的小哥哥</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/sl8eUJIIIIIJ.html" title="纵有疾风起">纵有疾风起</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/oBGYKgQQQQQg.html" title="浣溪沙">浣溪沙</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/J1ChmQ99999Q.html" title="九州·朱颜记">九州·朱颜记</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/Cm7ZQJHHHHHJ.html" title="乔家的儿女">乔家的儿女</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/TLMtreddddde.html" title="公子倾城">公子倾城</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/qQCko9333339.html" title="舍我其谁">舍我其谁</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/wgKDGbBBBBBb.html" title="人生若如初见">人生若如初见</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/3vc587333337.html" title="梦华录">梦华录</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/4EBzAnEEEEEn.html" title="爱的二八定律">爱的二八定律</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/NEVTxQEEEEEQ.html" title="玉骨遥">玉骨遥</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/zPoEvYPPPPPY.html" title="好女好男">好女好男</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/BbzSt8222228.html" title="铁道英雄">铁道英雄</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/6XU97WHHHHHW.html" title="狙击手">狙击手</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/FV20BTNNNNNT.html" title="叛逆者">叛逆者</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/zphbLE55555E.html" title="完美伴侣">完美伴侣</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/gs1JCzPPPPPz.html" title="精灵旅社4：人间大冒险">精灵旅社4：人间大冒险</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/1uqsQ3111113.html" title="王牌部队">王牌部队</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/HA4xcYHHHHHY.html" title="苍兰诀">苍兰诀</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/Amk7CL44444L.html" title="超能一家人">超能一家人</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/cwCArTPPPPPT.html" title="四海">四海</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/bxDZDC00000C.html" title="两个半爸爸">两个半爸爸</a>
            </li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/DK72EX44444X.html" title="扬名立万">扬名立万</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/CRVFLKAAAAAK.html" title="天下无拐">天下无拐</a></li>
            <li class="list-group-item"><a href="https://www.domp4.cc/html/6LigCcTTTTTc.html" title="迷妹罗曼史">迷妹罗曼史</a>
            </li>
        </ul>
    </div>
    {% include 'footer.html.twig' %}
</div>
{% endblock %}
