<div id="list_all">
    {% for dy in pagination %}
        <div class="col-xs-4 col-sm-3 pull-left" style="margin-bottom: 15px;">
            <div class="img-responsive text-center">
                <a href="{{ path('detail',{id:dy.id}) }}"><img style="height: 130px; display: inline-block;" class="lazy img-thumbnail" data-original="{{ dy.pic }}" src="{{ dy.pic }}" alt="《{{ dy.title }}》"></a>
                <div class="caption"><h3>{{ dy.title }}</h3></div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="navigation text-center ">
    {{ knp_pagination_render(pagination) }}
</div>