{% extends 'base.html.twig' %}
{% block body %}
    <div class="headtopnull"></div>
    <div class="wwp">
        <div class="ec-ad top20"><a href="" target="_blank"><img src="{{ asset("cy/e45c2d9264b1b521ee163a4e8b7f9ea4.png") }}" alt="影视筛选页广告位"></a></div>
        <div class="show-filter back br top20">
            <div class="filter_line">
                <span class="filter_label cor3">频道</span>
                <a class="filter_item zbs" href="/index.php/vod/show/id/1.html">电影</a>
                <a class="filter_item" href="/index.php/vod/show/id/2.html">电视剧</a>
                <a class="filter_item" href="/index.php/vod/show/id/3.html">综艺</a>
                <a class="filter_item" href="/index.php/vod/show/id/4.html">动漫</a>
                <a class="filter_item" href="/index.php/vod/show/id/29.html">纪录片</a>
                <a class="filter_item" href="/index.php/vod/show/id/42.html">体育频道</a>
            </div>
            <div class="filter_line">
                <span class="filter_label cor3">分类</span>
                <a class="filter_item zbs" href="/index.php/vod/show.html">全部</a>
                <a class="filter_item" href="/index.php/vod/show/id/20.html">动作片</a>
                <a class="filter_item" href="/index.php/vod/show/id/21.html">喜剧片</a>
                <a class="filter_item" href="/index.php/vod/show/id/22.html">爱情片</a>
                <a class="filter_item" href="/index.php/vod/show/id/23.html">科幻片</a>
                <a class="filter_item" href="/index.php/vod/show/id/24.html">恐怖片</a>
                <a class="filter_item" href="/index.php/vod/show/id/25.html">犯罪片</a>
                <a class="filter_item" href="/index.php/vod/show/id/26.html">战争片</a>
                <a class="filter_item" href="/index.php/vod/show/id/27.html">动画片</a>
                <a class="filter_item" href="/index.php/vod/show/id/28.html">剧情片</a>
                <a class="filter_item" href="/index.php/vod/show/id/60.html">悬疑片</a>
                <a class="filter_item" href="/index.php/vod/show/id/61.html">奇幻片</a>
            </div>
            <div class="filter_line">
                <span class="filter_label cor3">地区</span>
                <a class="filter_item zbs" href="/index.php/vod/show/id/1.html">全部</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E5%A4%A7%E9%99%86/id/1.html">大陆</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E9%A6%99%E6%B8%AF/id/1.html">香港</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E5%8F%B0%E6%B9%BE/id/1.html">台湾</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E7%BE%8E%E5%9B%BD/id/1.html">美国</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E6%B3%95%E5%9B%BD/id/1.html">法国</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E8%8B%B1%E5%9B%BD/id/1.html">英国</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E6%97%A5%E6%9C%AC/id/1.html">日本</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E9%9F%A9%E5%9B%BD/id/1.html">韩国</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E5%BE%B7%E5%9B%BD/id/1.html">德国</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E6%B3%B0%E5%9B%BD/id/1.html">泰国</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E5%8D%B0%E5%BA%A6/id/1.html">印度</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E6%84%8F%E5%A4%A7%E5%88%A9/id/1.html">意大利</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E8%A5%BF%E7%8F%AD%E7%89%99/id/1.html">西班牙</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E5%8A%A0%E6%8B%BF%E5%A4%A7/id/1.html">加拿大</a>
                <a class="filter_item" href="/index.php/vod/show/area/%E5%85%B6%E4%BB%96/id/1.html">其他</a>
            </div>
            <div class="filter_line">
                <span class="filter_label cor3">年代</span>
                <a class="filter_item zbs" href="/index.php/vod/show/id/1.html">全部</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2022.html">2022</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2021.html">2021</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2020.html">2020</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2019.html">2019</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2018.html">2018</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2017.html">2017</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2016.html">2016</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2015.html">2015</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2014.html">2014</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2013.html">2013</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2012.html">2012</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2011.html">2011</a>
                <a class="filter_item" href="/index.php/vod/show/id/1/year/2010.html">2010</a>
            </div>
        </div>
        {% if pagination.count >0 %}
            <div class="vodlist hotgrow size listdh top20 wow fadeInUp">
                {% for info in pagination %}

                    <div class="pack-ykpack ">
                        <div class="pack-packcover returl list-top-b">
                            <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}"</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="mac_pages">
                {{ knp_pagination_render(pagination) }}
            </div>

            {#            <div class="mac_pages"> #}
            {#                <div class="page_tip cor3">共17435条数据,当前1/364页</div> #}
            {#                {{ knp_pagination_render(pagination) }} #}
            {#            </div> #}
        {% else %}
            <div class="vodlist hotgrow size listdh top20 wow fadeInUp">
            </div>
            <div style="text-align:center;">
                <div>
                    <img src="{{ asset("cy/null.png") }}" alt="暂无数据">
                </div>
                <p class="top20 cor3">暂无数据</p>
            </div>
        {% endif %}
    </div>
    <script>
        var viewHeight = document.documentElement.clientHeight//获取可视区高度
        function lazyload() {
            var eles = document.querySelectorAll('div[data-original]')
            Array.prototype.forEach.call(eles, function (item, index) {
                var rect
                if (item.dataset.original === "")
                    return
                rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
                if (rect.bottom >= 0 && rect.top < viewHeight) {
                    !function () {
                        var img = new Image()
                        img.src = item.dataset.original
                        img.onload = function () {
                            item.style.backgroundImage = "url(" + img.src + ")";

                        }
                        item.removeAttribute("data-original")//移除属性，下次不再遍历
                        item.removeAttribute("lazyload")
                    }()
                }
            })
        }

        lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
        document.addEventListener("scroll", lazyload)
    </script>
{% endblock %}