{% if pageCount > 1 %}
    <div class="page_tip cor3">共{{ pageCount }}条数据,当前{{ current }}/{{ pageCount }}页</div>
    <div class="page_info">
        {% if previous is defined %}
            <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'label_previous'|trans([], 'KnpPaginatorBundle') }}</a>
        {% else %}
            <a class="page_link back ">&laquo;&nbsp;{{ 'label_previous'|trans([], 'KnpPaginatorBundle') }}</a>
        {% endif %}

        {% if startPage > 1 %}

            <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            {% if startPage == 3 %}
                <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
            {% elseif startPage != 2 %}
                <a class="page_link back">&hellip;</a>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <a class="page_link back zbs">{{ page }}</a>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <a class="page_link back">&hellip;</a>
                {% else %}
                    <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                {% endif %}
            {% endif %}
            <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
        {% endif %}

        {% if next is defined %}
            <a class="page_link back" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'label_next'|trans([], 'KnpPaginatorBundle') }}&nbsp;&raquo;</a>
        {% else %}
            <a class="page_link back">{{ 'label_next'|trans([], 'KnpPaginatorBundle') }}&nbsp;&raquo;</a>
        {% endif %}
    </div>
{% endif %}
