{% extends 'base_dy.html.twig' %}
{% block body %}

<body data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
<div class="container">
    <div id="top" class="header">
        <div class="logo"><a href="http://www.hilaiya.com/"><img style="width:70px;hight:40px"
                                                                 src="{{ asset("dy/logo1.jpeg") }}"
                                                                 alt="MP4电影"></a></div>
        <div class="top_nav fright"><a href="https://www.domp4.cc/custom/update.html" style="color:red">今日更新</a>|
            <a rel="nofollow" href="https://www.domp4.cc/guestbook/1.html">留言</a>|
            <!--
            <a href="https://m.domp4.cc/?fulione.com">移动版</a>        --></div>
        <nav class="navbar navbar-inverse cclear">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.domp4.cc/">MP4电影</a></div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="https://www.domp4.cc/list/99-1.html">最新电影</a></li>
                        <li><a href="https://www.domp4.cc/list/1-1.html">动作片</a></li>
                        <li><a href="https://www.domp4.cc/list/2-1.html">科幻片</a></li>
                        <li><a href="https://www.domp4.cc/list/3-1.html">爱情片</a></li>
                        <li><a href="https://www.domp4.cc/list/4-1.html">喜剧片</a></li>
                        <li><a href="https://www.domp4.cc/list/5-1.html">恐怖片</a></li>
                        <li><a href="https://www.domp4.cc/list/6-1.html">战争片</a></li>
                        <li><a href="https://www.domp4.cc/list/7-1.html">剧情片</a></li>
                        <li><a href="https://www.domp4.cc/list/8-1.html">纪录片</a></li>
                        <li><a href="https://www.domp4.cc/list/9-1.html">动画片</a></li>
                        <li><a href="https://www.domp4.cc/list/10-1.html">电视剧</a></li>
                        <li><a href="https://www.domp4.cc/slist/1.html">专题</a></li>
                        <li><a href="https://www.domp4.cc/sort.html">索引</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="search">
            <form class="navbar-form" action="https://www.domp4.cc/search/" method="post">
                <div class="form-group input-group"><input type="text" class="form-control" id="wd" name="wd"
                                                           placeholder="片名/主演/导演/标签">
                    <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
                </div>
            </form>
        </div>
        <div class="header_top"></div>
    </div>
    <div class="list_r cclear">
        <ul class="breadcrumb cclear">
            <li><a href="https://www.domp4.cc/">首页</a></li>
            <li class="active">动作片</li>
        </ul>
        <div id="list_all">
            <ul>
                {% for dy in listRes %}
                    <li><a href="https://www.domp4.cc/detail/7376.html"><img class="lazy"
                                                                             data-original="{{ dy.pic }}"
                                                                             src="{{ dy.pic }}"
                                                                             alt="《{{ dy.title }}》"
                                                                             style="display: block;">
                            <span class="rate badge">{{ dy.rating }}</span></a>
                        <div class="text_info">
                            <h2><a href="{{ path('detail',{id:dy.id}) }}">{{ dy.longTitle }}</a></h2>
                            <p class="actor">
                                {% for star in dy.stars %}

                                    <span>
                                    <a rel="nofollow" target="_blank"
                                       href="https://www.domp4.cc/search/%E5%A7%9C%E8%B6%85-1.html">{{ star }}</a>
                                </span> /
                                {% endfor %}

                            </p>
                            <p><span class="area">{{ dy.area }}</span><span class="update_time">{{ dy.pageDate }}</span>
                            </p>
                            <p class="info">{{ dy.introduction[:60] ~ '...' }}</p>
                        </div>
                    </li>
                {% endfor %}

            </ul>
            <div class="text-center">
                <ol class="pagination">
                    <li class="disabled"><span>首页</span></li>
                    <li class="disabled"><span>上一页</span></li>
                    <li class="active"><span>1</span></li>
                    <li><a class="active" href="https://www.domp4.cc/list/1-2.html">2</a></li>
                    <li><a class="active" href="https://www.domp4.cc/list/1-3.html">3</a></li>
                    <li><a href="https://www.domp4.cc/list/1-2.html">下一页</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="vod_right">
        <div class="top">
            <script src="{{ asset("right.js") }}"></script>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">近期下载排行</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/ySZVchDDDDDh.html"
                                               title="2021菲律宾犯罪动作《有坂》HD1080p.中文字幕">2021菲律宾犯罪动作《有坂》HD1080p.中文字幕</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zR634U22222U.html"
                                               title="2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕">2003日本暴力动作《少女杀手阿墨》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/B8tr2C55555C.html"
                                               title="2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字">2008成龙李连杰功夫武侠《功夫之王》BD1080p.国英双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/6241.html"
                                               title="1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字"><font color="#17AC56">1993经典古装武侠《新仙鹤神针》BD1080p.粤语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/3407.html"
                                               title="2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字">2011刘德华谢霆锋动作剧情《新少林寺》BD1080p.国粤双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/tmtO6gOOOOOg.html"
                                               title="2021美国科幻动作《新生化危机》HD1080p.中英双字">2021美国科幻动作《新生化危机》HD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/5187.html"
                                               title="1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字"><font color="#17AC56">1976邵氏7.7分古装武侠《流星蝴蝶剑》BD1080p.国语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/23404.html"
                                               title="2019罪案动作《恶人传》BD1080p.中文字幕"><font color="#17AC56">2019罪案动作《恶人传》BD1080p.中文字幕</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/f7cASCAAAAAC.html"
                                               title="2021基努·里维斯科幻动作《黑客帝国：矩阵重启》HD1080p.中英双字">2021基努·里维斯科幻动作《黑客帝国：矩阵重启》HD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/qDMZOR11111R.html"
                                               title="1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字">1979香港武侠动作《酒仙十八跌》HD1080p.国粤双语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/i2dKzH11111H.html"
                                               title="2015美国暴力动作《绝命杀漠》BD1080p.中文字幕">2015美国暴力动作《绝命杀漠》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/xQv84h00000h.html"
                                               title="1993元彪古装武侠《新碧血剑》HD1080p.国语中字">1993元彪古装武侠《新碧血剑》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/A8Y1CFDDDDDF.html"
                                               title="2021经典系列特工动作《007：无暇赴死》BD1080p.中英双字">2021经典系列特工动作《007：无暇赴死》BD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/NUgXrXSSSSSX.html"
                                               title="2021释彦能剧情动作《九龙城寨》HD1080p.国语中字">2021释彦能剧情动作《九龙城寨》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/zmQACPOOOOOP.html"
                                               title="2020美国科幻动作《沙丘》BD1080p.国英双语中字"><font color="#17AC56">2020美国科幻动作《沙丘》BD1080p.国英双语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/MLqq1iWWWWWi.html"
                                               title="2021国产动作网大《生死速度》HD1080p.国语中字">2021国产动作网大《生死速度》HD1080p.国语中字</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer cclear"><p class="copyright">本网站内容收集于互联网，MP4电影不承担任何由于内容的合法性及健康性所引起的争议和法律责任。
            欢迎大家对网站内容侵犯版权等不合法和不健康行为进行监督和举报。<br> 邮箱: domp4#yahoo.com（替换#为@）<br>Copyright ©2020-2021 domp4. All rights
            reserved.
        </p></div>
    <script charset="utf-8" src="{{ asset("dy/base.js") }}"></script>
    <a class="backtotop hidden-sm hidden-xs btn btn-default" href="#top" data-toggle="tooltip"
       data-placement="top" data-original-title="返回顶部"><i class="glyphicon glyphicon-arrow-up"></i></a>
</div>
{% endblock %}
