{% extends 'base.html.twig' %}
{% block body %}
    <div class="vod-detail style-detail">
        <div class="ec-pianku"></div>
        <div class="returl cf wwp">
            <div class="l wow fadeInLeft">
                <div class="s-cover box"><a href="javascript:;" title="{{ info.title }}海报图片" class="g-playicon s-cover-img"><img src="{{ path('img',{id:info.imgUrl}) }}"></a></div>
            </div>
            <div class="s-top-right">
                <div class="s-top-info-title cf wow fadeInDownBig"><h1 title="{{ info.title }}详细剧情" class="fyy">{{ info.title }}</h1></div>
                <div class="s-top-info-detail cf fyy wow lightSpeedIn">
                    <p class="item-desc js-open-wrap">{{ info.vodRemarks }}</p>
                    <p class="item-desc js-open-wrap hidden">演员：
                        {% for star in info.stars %}
                            <a href="{{ path('search',{'wd':star}) }}" target="_blank">{{ star }}</a>&nbsp;
                        {% endfor %}
                    </p>
                    <p class="item-desc js-open-wrap hidden">导演：
                        {% for direct in info.director %}
                            <a href="{{ path('search',{'wd':direct}) }}" target="_blank">{{ direct }}</a>&nbsp;
                        {% endfor %}
                    </p>
                    <p class="item"><span>地区：</span> <a href="{{ path('search',{'wd':info.area}) }}" target="_blank">{{ info.area }}</a>&nbsp;</p>
                    <p class="item item-actor"><span>年代：</span> <a href="{{ path('search',{'wd':info.year}) }}" target="_blank">{{ info.year }}</a>&nbsp; </p>
                    <p class="item item-actor"><span>语言：</span> {{ info.language }}</p>
                    <p style="clear:both"></p>
                    <p class="item item-director"><span>类型：</span><a href="{{ path('search',{'wd':info.type}) }}" target="_blank">{{ info.type }}</a>&nbsp; </p>
                    <p class="item item-actor">上映：<a href="{{ path('search',{'wd':info.year}) }}" target="_blank">{{ info.year }}</a>&nbsp;</p>
                    <p class="item item-type">片源：正片</p>
                    <p class="item-desc js-open-wrap hidden"><span class="desc">简介：</span><span id="cText">{{ info.introduction }}</span></p>
                </div>
                <div class="content_detail cf">
                    <div class="playbtn">
                        <a class="btn ol2 play_eq" href="javascript:"><i class="fa">&#xe607;</i>&nbsp;立即播放</a>
                    </div>
                    {#                    <div class="playbtn o_share play_share"> #}
                    {#                        <a class="btn ol7" href="javascript:;"><i class="fa">&#xe8b7;</i>&nbsp;分享</a> #}
                    {#                        <div class="ecfnx fn-panel topfadeInUp animated" style="left:inherit;right:0"> #}
                    {#                            <div class="arrow" style="left:320px;"></div> #}
                    {#                            <div class="modpop-actionhd"></div> #}
                    {#                            <div class="fn-panel-body box cf"> #}
                    {#                                <dl class="share-panel-left l"> #}
                    {#                                    <dt style="margin:26px 0">复制地址分享给你的好友</dt> #}
                    {#                                    <dt style="position:relative;"> #}
                    {#                                        <input type="text" class="videoURL fn-share-input box" value="{{ path('detail',{id:info.id}) }}"> #}
                    {#                                        <div class="fn-share-code-btn fn-sharebtn-container ol2">复制地址</div> #}
                    {#                                    </dt> #}
                    {#                                </dl> #}
                    {#                                <dl class="share-panel-right l b-l"> #}
                    {#                                    <dt><img class="ecerwiema" src="https://api.pwmqr.com/qrcode/create/?url={{ path('detail',{id:info.id}) }}"/></dt> #}
                    {#                                    <dd>扫二维码直接进入</dd> #}
                    {#                                </dl> #}
                    {#                            </div> #}
                    {#                        </div> #}
                    {#                    </div> #}
                </div>
            </div>
            <div class="score wow fadeInUp r">
                <div class="rating-box cf" id="rating-main" style="display: block;">
                    <div class="rating-total fn-clear l">{{ info.rating }}</div>
                    <div class="rating-panle l cor4">
                        <div>影片评分</div>
                        <div class="rating-bar">
                            <div class="rating-bar-item" id="fenshu" style="width: {{ info.rating*10 }}%;">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div id="detail-rating" class="fn-clear cf cor4">
                    <div id="rating" class="fn-left" data-mid="1" data-id="300722" data-score="{{ info.rating }}">
                        {% set ss = "" %}
                        <ul class="rating" id="fenshu">
                            <li class="one  {% if info.rating >=0 %}{% set ss="很差" %} current active{% endif %}" title="很差" val="1">很差</li>
                            <li class="two  {% if info.rating >3 %}{% set ss="较差" %} current active{% endif %}" title="较差" val="2">较差</li>
                            <li class="three {% if info.rating >6 %}{% set ss="还行" %} current active{% endif %}" title="还行" val="3">还行</li>
                            <li class="four {% if info.rating >=7 %}{% set ss="推荐" %} current active{% endif %}" title="推荐" val="4">推荐</li>
                            <li class="five {% if info.rating >=8 %}{% set ss="力荐" %} current active{% endif %}" title="力荐" val="5">力荐</li>
                        </ul>
                        <span id="ratewords">{{ ss }}</span>
                    </div>
                    <script type="text/javascript" src="{{ asset("cy/qireobj.js") }}"></script>
                    <script type="text/javascript" src="{{ asset("cyy/gold.js") }}"></script>
                </div>
                <div class="weixin"><img width="140" height="140" src="{{ path('img',{id:info.imgUrl}) }}">
                    <div><p>{{ info.title }}</p></div>
                </div>
            </div>
        </div>
    </div>
    <a name="desc" style="style:none"></a>
    <div class="palyconnt cf top20 wwp">
        <div class="l playlist ecleft">
            <div class="play-detail">
                <h1 class="title"><span class="name" title="{{ info.title }}">{{ info.title }}详情简介</span><span class="remarks">状态：{{ info.vodRemarks }}</span></h1>
            </div>
            <div class="desc_txt cf ec-palytcji cor3">
                <span>{{ info.introduction }}</span>
                <a href="javascript:;" class="show_btn" id="desc_txt"><i class="fa mr2">&#xe62e;</i>展开全部</a>
            </div>
            {#            <div class="swiper-container3 top20"> #}
            {#                <div class="cf swiper-wrapper"> #}
            {#                    {% for star in info.stars %} #}
            {#                        <span class="swiper-slide actorlist_item" style="display: inline-block;"> #}
            {#                            <div class="actorlist_box ecdy back t-u"> #}
            {#                                <a class="vodlist_thumb" href="/index.php/actor/detail/id/22612.html" title="{{ star }}"><img src="#" class="role-img"></a> #}
            {#                                <div class="actorlist_tit anthology-wrap"><a class="albumtitle cor2" href="/index.php/actor/detail/id/22612.html" title="{{ star }}">{{ star }}</a></div> #}
            {#                            </div> #}
            {#                        </span> #}
            {#                    {% endfor %} #}
            {#                </div> #}
            {#            </div> #}
            <div></div>
            <div class="pannel cf wow fadeInUp top20">
                <div class="title-a cf">
                    <h2 class="title-name l cf"><span>资源列表</span></h2>
                    {#                    <a class="title-button r cor3" onselectstart="return false;" title="切换排序" id="zxdaoxu"><i class="fa mr2">&#xe65a;</i>排序</a> #}
                </div>
                <div class="play_source">
                    <div class="play_source_tab b-t swiper-container1" id="tag">
                        <div class="cf swiper-wrapper">
                            <a class="channelname swiper-slide active "><i class="fa">&#xe8b4;</i>&nbsp;高清({{ info.play.1.list|length }})</a>


                            {# <a class="channelname swiper-slide active"><i class="fa">&#xe8b4;</i>&nbsp;高清(27)</a> #}
                            {# <a class="channelname swiper-slide "><i class="fa">&#xe8b4;</i>&nbsp;高清2(27)</a> #}
                        </div>
                    </div>
                    <div id="tagContent">
                        <div id="playsx" class='play_list_box show daoxu'>
                            <div class="player_infotip cor3"><i class="fa mr2">&#xe8d1;</i>当前资源高清--看视频 - 上老虎TM TV，无VIP会员</div>
                            <div class="playlist_notfull">
                                <ul class="content_playlist cf">
                                    {% for key,vod in info.play.1.list %}
                                        <li><a class="t-u" href="{{ path('play',{s_id:info.id,p_id:key}) }}">{{ vod.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {#                        <div id="playsx" class='play_list_box '> #}
                        {#                            <div class="player_infotip cor3"><i class="fa mr2">&#xe8d1;</i>当前资源由高清2提供--看视频 - 上老虎TV TV，无VIP会员</div> #}
                        {#                            <div class="playlist_notfull"> #}
                        {#                                <ul class="content_playlist cf"> #}
                        {#                                    {% for key,vod in info.play.1.list %} #}
                        {#                                        <li><a class="t-u" href="{{ path('play',{s_id:info.id,p_id:key}) }}">{{ vod.title }}</a></li> #}
                        {#                                    {% endfor %} #}
                        {#                                </ul> #}
                        {#                            </div> #}
                        {#                        </div> #}
                    </div>
                </div>
            </div>
            <div class='index-hotnow wow fadeInUp top20'>
                <div class="title-a cf">
                    <h2 class="title-name l cf">
                        <span>《{{ info.title }}》相关影视</span></a>
                    </h2>
                </div>
                <div class="vodlist hotgrow size listdh">
                    {% for key,info in recommend_list %}
                        <div class="pack-ykpack play-vod-list playhid{{ key+1 }}">
                            <div class="pack-packcover returl list-top-b">
                                <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                    <span class="pack-bg"></span>
                                    <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="pack-infolist">
                                <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ecright r">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <span>{{ info.type }} · TOP</span><a class="url" href="/index.php/label/rb.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
            </div>
            <div class="hot-modular">
                <ul class="rank-list">
                    {% for k,info in topic %}
                        <li class="rank-item cf">
                            <a href="{{ path('detail',{id:info.id}) }}" class="rank-item-link" title="{{ info.title }}">
                                <div class="mod-left">
                                    <div class="rank-num-box">
                                        <span class="ecrank-no">NO</span><i class="rank-nub cohot{{ k+1 }} cor3">{{ k+1 }}</i>
                                    </div>
                                </div>
                                <div class="mod-right">
                                    <h3 class="anthology-wrap main-title">{{ info.title }}</h3>
                                    <div class="sub-box">
                                        <div class="sub-right"><i class="fa">&#xe713;</i><span class="count cor3">{{ info.vodRemarks }}</span></div>
                                        <p class="sub-des cor3 hidden">{{ info.stars| join(',') }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ asset("cy/swiper.min.js") }}"></script>
    <script>
        $('.play_eq').click(function () {
            window.location.href = "{{ path('play',{s_id:info.id,p_id:0}) }}";
        })

        var viewHeight = document.documentElement.clientHeight//获取可视区高度
        function lazyload() {
            var eles = document.querySelectorAll('div[data-original]')
            Array.prototype.forEach.call(eles, function (item, index) {
                var rect
                if (item.dataset.original === "")
                    return
                rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
                if (rect.bottom >= 0 && rect.top < viewHeight) {
                    !function () {
                        var img = new Image()
                        img.src = item.dataset.original
                        img.onload = function () {
                            item.style.backgroundImage = "url(" + img.src + ")";

                        }
                        item.removeAttribute("data-original")//移除属性，下次不再遍历
                        item.removeAttribute("lazyload")
                    }()
                }
            })
        }

        lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
        document.addEventListener("scroll", lazyload)
    </script>
{% endblock %}
