{% extends 'base.html.twig' %}
{% block body %}
    <div id="block-B" data-focus="" class="qy-carousel-wrap mg-carousel-wrap">
        <div class="qy-carousel">
            <div class="qy-carousel-fixed">
                <div class="qy-carousel-inner bd">
                    <ul class="qy-carousel-ul">
                        {% for k,info in topicList %}
                            <li class="qy-carousel-li">
                                <a href='{{ path('detail',{id:info.id}) }}'><span class="qy-pc-carousel" style="background-image: url({{ path('img',{id:info.imgUrl}) }});"></span></a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="qy-pc-carousel-maskl"></div>
                    <div class="qy-pc-carousel-maskr"></div>
                    <div class="qy-carousel-top"></div>
                </div>
                <div class="qy-carousel-con-gray">
                    <div class="qy-carousel-side-panel hd wwp">
                        <div class="qy-carousel-side-box">
                            <ul class="qy-carousel-panel-list">
                                {% for k,info in topicList %}
                                    <li class="pagination-item">
                                        <a href='{{ path('detail',{id:info.id}) }}l' target="_blank" class="channelname pagination-block">
                                            <p class="pagination-title channelname hidden">{{ info.title }}</p>
                                            <p class="pagination-subname channelname hidden">{{ info.title }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tag-c wwp">
        <div class="auto">
            <img class="topimg" src="{{ asset("cy/slide.png") }}" alt="" class="t_tp">
            <div class="detail cf box">
                <div class="l col_1">
                    <div class="row hidden">
                        <span class="tag ico_1"><a href="{{ path("dy") }}"><img src="{{ asset("cy/1.png") }}" class=" homepage_logo"/>电&nbsp;&nbsp;&nbsp;影</a></span>
                        <div class="lks ellipsis">
                            <a href="/index.php/vod/show/id/20.html" target="_blank">动作片</a>
                            <a href="/index.php/vod/show/id/21.html" target="_blank">喜剧片<span class="cut-line"></span></a>
                            <a class="arthide12" href="/index.php/vod/show/id/23.html" target="_blank">科幻片<span class="cut-line"></span></a>
                            <a class="slide-tagc" href="/index.php/vod/show/area/%E7%BE%8E%E5%9B%BD/id/1.html" target="_blank">美国大片<span class="cut-line"></span></a>
                        </div>
                    </div>
                    <div class="row hidden top10">
                        <span class="tag ico_2"><a href="{{ path("tv") }}"><img src="{{ asset("cy/2.png") }}" class="homepage_logo"/>电视剧</a></span>
                        <div class="lks ellipsis">
                            <a href="/index.php/vod/show/id/30.html" target="_blank">国产剧</a>
                            <a href="/index.php/vod/show/id/33.html" target="_blank">欧美剧<span class="cut-line"></span></a>
                            <a class="arthide12" href="/index.php/vod/show/id/50.html" target="_blank">韩国剧<span class="cut-line"></span></a>
                            <a class="slide-tagc" href="/index.php/vod/show/id/32.html" target="_blank">日本剧<span class="cut-line"></span></a>
                        </div>
                    </div>
                </div>
                <div class="l col_2">
                    <div class="row hidden">
                        <span class="tag ico_3"><a href="{{ path("dm") }}" title="动漫" target="_blank"><img src="{{ asset("cy/4.png") }}" class="homepage_logo"/>动&nbsp;&nbsp;&nbsp;漫</a></span>
                        <div class="lks ellipsis">
                            <a href="/index.php/vod/show/id/38.html">国产动漫</a>
                            <a href="/index.php/vod/show/area/%E6%97%A5%E6%9C%AC/id/4.html">日本动漫<span class="cut-line"></span></a>
                            <a class="arthide12" href="/index.php/vod/show/id/41.html">海外动漫<span class="cut-line"></span></a>
                            <a class="slide-tagc" href="=/index.php/vod/show/id/40.html">欧美动漫<span class="cut-line"></span></a>
                        </div>
                    </div>
                    <div class="row hidden  top10">
                        <span class="tag ico_4"><a href="{{ path("zy") }}l" title="综艺" target="_blank"><img src="{{ asset("cy/3.png") }}" class="homepage_logo"/>综&nbsp;&nbsp;&nbsp;艺</a></span>
                        <div class="lks ellipsis">
                            <a href="/index.php/vod/show/id/34.html">大陆综艺</a>
                            <a href="/index.php/vod/show/id/35.html">日韩综艺<span class="cut-line"></span></a>
                            <a class="arthide12" href="/index.php/vod/show/id/36.html">港台综艺<span class="cut-line"></span></a>
                            <a class="slide-tagc" href="/index.php/vod/show/id/37.html">欧美综艺<span class="cut-line"></span></a>
                        </div>
                    </div>
                </div>
                <div class="l col_3">
                    <div class="size row_1">
                        <a href="https://chongtmtv.com/index.php/vod/show/id/42.html" class="tag_zt back">体育频道</a>
                        <a href="/index.php/vod/show/id/29/year/2021.html" class="tag_zt back">纪录片</a>
                        <a href="/index.php/topic/index.html" class="tag_zt back">专题</a>
                        <a href="/index.php/gbook/index.html" class="tag_zt back">留言版</a>
                    </div>
                    <div class="size row_2 top10">
                        <a href="https://chongtmtv.com/template/Ds-pc/weixinKeFu/index.html" class="tag_zt back" target="_blank">广告投放</a>
                        <a href="/index.php/label/rank.html" class="tag_zt ol5 cor4" target="_blank">影视排行</a>
                        <a href="#" target="_blank" class="tag_zt ol6 cor4" rel="nofollow">午夜版</a>
                    </div>
                </div>
                <div class="homepage_opt_wrap">
                    <a href="https://chongtmtv.com/ds.php/live?type=1" class=" aplus_exp aplus_clk"><img src="{{ asset("cy/35f0a2caf31e0be36a9e9e0b3d7ffd4f.png") }}"/></a>
                    <a href="https://chongtmtv.com/ds.php/viv" class="homepage_opt_hide_1 aplus_exp aplus_clk ec_aplus_clk"><img src="{{ asset("cy/laifeng.png") }}"/></a>
                    <a href="/index.php/vod/show/id/1.html" class="homepage_opt_hide_1 aplus_exp aplus_clk"><img src="{{ asset("cy/pianku.png") }}"/></a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .homepage_main_tabs_title:first-child {
            margin-bottom: 14px
        }

        .mg-carousel-wrap, .mg-carousel-wrap .qy-carousel .qy-carousel-inner {
            height: 550px
        }

        .mg-carousel-wrap .qy-carousel-panel-list .on {
            background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .9)), to(rgba(0, 0, 0, 0)));
            background: -o-linear-gradient(left, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
            opacity: 1;
        }

        .mg-carousel-wrap .qy-carousel-maskbottom {
            height: 300px
        }

        .tag-c .type_col {
            padding: 10px 0
        }

        .tag-c .topimg {
            border: 0;
            display: inline-block;
            max-width: 100%;
            vertical-align: middle
        }

        .tag-c .type_col.col_1, .tag-c .type_col.col_2 {
            width: 41%;
            margin-right: 3%
        }

        .tag-c .slide_type_img img {
            width: 97px
        }

        .tag-c {
            z-index: 9;
            position: relative;
            margin-top: -60px;
            margin-bottom: 40px
        }

        .tag-c .detail {
            position: relative;
            border-radius: 6px;
            padding: 24px 30px 20px
        }

        .tag-c .col_1, .tag-c .col_2, .tag-c .col_3 {
            width: 27%
        }

        .tag-c .col_3 {
            padding: 0 2%
        }

        .tag-c .tag {
            display: block;
            float: left;
            font-size: 14px;
            width: 120px;
            line-height: 34px;
            height: 34px;
            font-weight: 700;
            border-radius: 17px;
            text-align: center
        }

        .tag-c .tag a {
            color: #333
        }

        .ico_1 {
            background: #fff6f0
        }

        .ico_2 {
            background: #f0faff
        }

        .ico_3 {
            background: #f0fefe;
            text-align: center
        }

        .ico_4 {
            background: #fff3f5
        }

        .tag-c .lks {
            margin-left: 130px;
            font-size: 12px;
            color: #666
        }

        .tag-c .lks a {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            padding: 0 12px;
            line-height: 34px;
            position: relative
        }

        .tag-c .cut-line {
            top: 11px;
            left: -4px
        }

        .tag-c .tag_zt {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 34px;
            text-align: center;
            border-radius: 17px;
            margin: 0 .5%
        }

        .tag-c .col_3 .row_1 .tag_zt {
            min-width: 23%
        }

        .tag-c .col_3 .row_2 .tag_zt {
            min-width: 30%
        }

        .tag-c .homepage_opt_wrap {
            right: 20px
        }

        .tag-c .homepage_logo {
            width: 18px;
            height: 18px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain
        }
    </style>
    <script type="text/javascript">jQuery(".qy-carousel-fixed").slide({mainCell: ".bd ul", effect: "fold", autoPlay: true});
        jQuery(".typetag").slide({mainCell: ".bd ul", autoPage: true, effect: "left", autoPlay: true});</script>
    <div class='wwp index-hotnow wow fadeInUp top20'>
        <div class="title-a cf">
            <h2 class="title-name l cf">
                <img src="{{ asset("cy/7.png") }}"><span>每周热播</span><a class="url" href="/index.php/label/rb.html" onselectstart="return false;">更多<i class="fa tb3">&#xe62d;</i></a>
            </h2>
            <div class="title-tips l cor3">
                今日更新<span class="orange">119</span>部,共<span class="orange">36045</span>部
            </div>
            <a class="title-button r cor3 module-rightcontent" title="换一换" onselectstart="return false;"><i class="fa mr2">&#xe8c8;</i>换一换</a>
        </div>
        <div class="vodlist hotgrow size listdh" id="hot1">
            {% for k,info in hotPlay %}
                <div class="pack-ykpack hot1">
                    <div class="pack-packcover returl list-top-b">
                        <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                            <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                            <span class="pack-bg"></span>
                            <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                        </a>
                    </div>
                    <div class="pack-infolist">
                        <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                        <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="wwp ec-ad top20">
        <a href="" target="_blank">
            <img src="{{ asset("cy/db706e6b6dd58d825eeaed6ffccdade6.png") }}" alt="首页横幅广告1">
        </a>
    </div>
    <div class="palyconnt cf top20 wwp index-vod-list-c">
        <div class="l playlist ecleft">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <img src="{{ asset("cy/2.png") }}"><span>电视剧</span><a class="url" href="/index.php/vod/show/id/2.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
                <div class="title-tab l">
                    <a class="back" href="/index.php/vod/show/id/30.html" title="">国产剧</a>
                    <a class="back" href="/index.php/vod/show/id/33.html" title="">欧美剧</a>
                    <a class="back" href="/index.php/vod/show/id/50.html" title="">韩国剧</a>
                    <a class="back" href="/index.php/vod/show/id/31.html" title="">香港剧</a>
                    <a class="back" href="/index.php/vod/show/id/32.html" title="">日本剧</a>
                    <a class="back" href="/index.php/vod/show/id/49.html" title="">海外剧</a>
                </div>
            </div>
            <div class="vodlist hotgrow size listdh">
                {% for k,info in dsj %}
                    <div class="pack-ykpack hide1">
                        <div class="pack-packcover returl list-top-b">
                            <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ecright r index-vodList-right wide-c-b">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <span>热播榜</span><a class="url" href="/index.php/label/rb.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
            </div>
            <div class="hot-modular back index-hot-right">
                <ul class="rank-list">
                    <ul class="rank-list">
                        {% for k,info in hotDsj %}
                            <li class="b-t rank-item cf">
                                <a href="{{ path('detail',{id:info.id}) }}" class="rank-item-link" title="{{ info.title }}">
                                    <div class="mod-left"><i class="cohot{{ k+1 }} cor3">{{ k+1 }}</i></div>
                                    <div class="mod-right">
                                        <h3 class="anthology-wrap main-title">{{ info.title }}</h3>
                                        <div class="sub-box">
                                            <div class="sub-right"><i class="fa">&#xe713;</i><span class="count cor3">{{ info.vodRemarks }}</span></div>
                                            <p class="sub-des cor3 hidden">{{ info.stars| join(',') }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="palyconnt cf top20 wwp index-vod-list-c">
        <div class="l playlist ecleft">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <img src="{{ asset("cy/1.png") }}"><span>电影</span><a class="url" href="/index.php/vod/show/id/1.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
                <div class="title-tab l">
                    <a class="back" href="/index.php/vod/show/id/20.html" title="">动作片</a>
                    <a class="back" href="/index.php/vod/show/id/21.html" title="">喜剧片</a>
                    <a class="back" href="/index.php/vod/show/id/22.html" title="">爱情片</a>
                    <a class="back" href="/index.php/vod/show/id/23.html" title="">科幻片</a>
                    <a class="back" href="/index.php/vod/show/id/24.html" title="">恐怖片</a>
                    <a class="back" href="/index.php/vod/show/id/25.html" title="">犯罪片</a>
                </div>
            </div>
            <div class="vodlist hotgrow size listdh">
                {% for k,info in movie %}
                    <div class="pack-ykpack hide1">
                        <div class="pack-packcover returl list-top-b">
                            <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ecright r index-vodList-right wide-c-b">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <span>热播榜</span><a class="url" href="/index.php/label/rb.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
            </div>
            <div class="hot-modular back index-hot-right">
                <ul class="rank-list">
                    {% for k,info in hotMovie %}
                        <li class="b-t rank-item cf">
                            <a href="{{ path('detail',{id:info.id}) }}" class="rank-item-link" title="{{ info.title }}">
                                <div class="mod-left"><i class="cohot{{ k+1 }} cor3">{{ k+1 }}</i></div>
                                <div class="mod-right">
                                    <h3 class="anthology-wrap main-title">{{ info.title }}</h3>
                                    <div class="sub-box">
                                        <div class="sub-right"><i class="fa">&#xe713;</i><span class="count cor3">{{ info.vodRemarks }}</span></div>
                                        <p class="sub-des cor3 hidden">{{ info.stars| join(',') }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="wwp ec-ad top20">
        <a href="" target="_blank">
            <img src="{{ asset("cy/db706e6b6dd58d825eeaed6ffccdade6.png") }}" alt="首页横幅广告1">
        </a>
    </div>
    <div class="wwp top20">
        <div class="title-a cf">
            <h2 class="title-name l cf">
                <img src="{{ asset("cy/3.png") }}"><span>综艺</span><a class="url" href="/index.php/vod/show/id/3.html">更多<i class="fa tb3">&#xe62d;</i></a>
            </h2>
            <div class="title-tab l" none>
                <a class="back" href="/index.php/vod/show/id/34.html" title="">大陆</a>
                <a class="back" href="/index.php/vod/show/id/35.html" title="">日韩综艺</a>
                <a class="back" href="/index.php/vod/show/id/36.html" title="">港台综艺</a>
                <a class="back" href="/index.php/vod/show/id/37.html" title="">欧美综艺</a>
            </div>
        </div>
        <div class="indexart">
            <div class="hotpack-ykpack back wow fadeInLeft animated">
                <div class="pack-packcover coverbox">
                    <a class="aplus-exp" href="{{ path('detail',{id:goodZy.id}) }}" title="{{ goodZy.title }}">
                        <div class="bj eclazy coverbox" data-original="{{ path('img',{id:goodZy.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                        <span class="pack-bg"></span>
                        <span class="pack-prb">{{ goodZy.updatedDate|date("Y-m-d") }}</span>
                    </a>
                </div>
                <div class="hotpack-infolist pack-infolist">{{ goodZy.title }}</div>
            </div>
            <div class="hotgrow wow fadeInRight listdh" id="hotgrow">
                {% for k,info in zy %}
                    <div class="pack-ykpack hide1">
                        <div class="pack-packcover returl list-top-b">
                            <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="palyconnt cf top20 wwp index-vod-list-c">
        <div class="l playlist ecleft">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <img src="{{ asset("cy/4.png") }}"><span>动漫</span><a class="url" href="/index.php/vod/show/id/4.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
                <div class="title-tab l">
                    <a class="back" href="/index.php/vod/show/id/38.html" title="">国产动漫</a>
                    <a class="back" href="/index.php/vod/show/id/39.html" title="">日本动漫</a>
                    <a class="back" href="/index.php/vod/show/id/40.html" title="">欧美动漫</a>
                    <a class="back" href="/index.php/vod/show/id/41.html" title="">海外动漫</a>
                </div>
            </div>
            <div class="vodlist hotgrow size listdh">
                {% for k,info in dm %}
                    <div class="pack-ykpack hide1">
                        <div class="pack-packcover returl list-top-b">
                            <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ecright r index-vodList-right wide-c-b">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <span>热播榜</span><a class="url" href="/index.php/label/rb.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
            </div>
            <div class="hot-modular back index-hot-right">
                <ul class="rank-list">
                    {% for k,info in hotDm %}
                        <li class="b-t rank-item cf">
                            <a href="{{ path('detail',{id:info.id}) }}" class="rank-item-link" title="{{ info.title }}">
                                <div class="mod-left"><i class="cohot{{ k+1 }} cor3">{{ k+1 }}</i></div>
                                <div class="mod-right">
                                    <h3 class="anthology-wrap main-title">{{ info.title }}</h3>
                                    <div class="sub-box">
                                        <div class="sub-right"><i class="fa">&#xe713;</i><span class="count cor3">{{ info.vodRemarks }}</span></div>
                                        <p class="sub-des cor3 hidden">{{ info.stars| join(',') }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="wwp ec-ad top20">
        <a href="" target="_blank">
            <img src="{{ asset("cy/db706e6b6dd58d825eeaed6ffccdade6.png") }}" alt="首页横幅广告1">
        </a>
    </div>
    <div class="palyconnt cf top20 wwp index-vod-list-c">
        <div class="l playlist ecleft">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <img src="{{ asset("cy/6.png") }}"><span>纪录片</span><a class="url" href="/index.php/vod/show/id/29.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
                <div class="title-tab l">
                </div>
            </div>
            <div class="vodlist hotgrow size listdh">
                {% for k,info in jlp %}
                    <div class="pack-ykpack hide1">
                        <div class="pack-packcover returl list-top-b">
                            <a class="aplus-exp ecimgbor" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" target="_self" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.stars| join(',') }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ecright r index-vodList-right wide-c-b">
            <div class="title-a cf">
                <h2 class="title-name l cf">
                    <span>热播榜</span><a class="url" href="/index.php/label/rb.html">更多<i class="fa tb3">&#xe62d;</i></a>
                </h2>
            </div>
            <div class="hot-modular back index-hot-right">
                <ul class="rank-list">
                    {% for k,info in hotJlp %}
                        <li class="b-t rank-item cf">
                            <a href="{{ path('detail',{id:info.id}) }}" class="rank-item-link" title="{{ info.title }}">
                                <div class="mod-left"><i class="cohot{{ k+1 }} cor3">{{ k+1 }}</i></div>
                                <div class="mod-right">
                                    <h3 class="anthology-wrap main-title">{{ info.title }}</h3>
                                    <div class="sub-box">
                                        <div class="sub-right"><i class="fa">&#xe713;</i><span class="count cor3">{{ info.vodRemarks }}</span></div>
                                        <p class="sub-des cor3 hidden">{{ info.stars| join(',') }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="wwp top20">
        <div class="title-a cf">
            <h2 class="title-name l cf">
                <img src="{{ asset("cy/2.png") }}"><span>体育</span><a class="url" href="/index.php/vod/show/id/42.html">更多<i class="fa tb3">&#xe62d;</i></a>
            </h2>
            <div class="title-tab l" style="display:none">
                <a class="back" href="/index.php/vod/show/id/43.html" title="">WWE摔跤娱乐</a>
                <a class="back" href="/index.php/vod/show/id/44.html" title="">赛车</a>
                <a class="back" href="/index.php/vod/show/id/45.html" title="">UFC终极格斗</a>
                <a class="back" href="/index.php/vod/show/id/46.html" title="">网球</a>
                <a class="back" href="/index.php/vod/show/id/47.html" title="">篮球</a>
                <a class="back" href="/index.php/vod/show/id/48.html" title="">足球</a>
            </div>
        </div>
        <div class="indexart">
            <div class="hotpack-ykpack back wow fadeInLeft animated">
                <div class="pack-packcover coverbox">
                    <a class="aplus-exp" href="{{ path('detail',{id:goodTy.id}) }}" title="{{ goodTy.title }}">
                        <div class="bj eclazy coverbox" data-original="{{ path('img',{id:goodTy.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                        <span class="pack-bg"></span>
                        <span class="pack-prb">{{ goodTy.updatedDate|date("Y-m-d") }}</span>
                    </a>
                </div>
                <div class="hotpack-infolist pack-infolist">{{ goodTy.title }}</div>
            </div>
            <div class="hotgrow wow fadeInRight listdh" id="hotgrow">
                {% for k,info in sport %}
                    <div class="pack-ykpack arthide1">
                        <div class="pack-packcover">
                            <a class="aplus-exp" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                <span class="pack-bg"></span>
                                <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                            </a>
                        </div>
                        <div class="pack-infolist">
                            <a class="vodname hidden" href="{{ path('detail',{id:info.id}) }}" title="">{{ info.title }}</a>
                            <div class="pack-subtitle cor3 hidden">{{ info.vodRemarks }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        var viewHeight = document.documentElement.clientHeight//获取可视区高度
        function lazyload() {
            var eles = document.querySelectorAll('div[data-original]')
            Array.prototype.forEach.call(eles, function (item, index) {
                var rect
                if (item.dataset.original === "")
                    return
                rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
                if (rect.bottom >= 0 && rect.top < viewHeight) {
                    !function () {
                        var img = new Image()
                        img.src = item.dataset.original
                        img.onload = function () {
                            item.style.backgroundImage = "url(" + img.src + ")";

                        }
                        item.removeAttribute("data-original")//移除属性，下次不再遍历
                        item.removeAttribute("lazyload")
                    }()
                }
            })
        }

        lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
        document.addEventListener("scroll", lazyload)
    </script>
{% endblock %}
