<!DOCTYPE html>
<html data-n-head-ssr="" lang="zh-cmn-Hans" data-n-head="lang" style="font-size: 40px;" class="hairlines">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>你_搜索结果 - 老虎TV - 专属于华人影视,海外华人的在线视频媒体平台,海量高清视频在线观看</title>
    <meta name="keywords" content="{{ wd }} ">
    <meta name="description" content="老虎TV  免费为您收集分享最新热门电影,独播点播电视剧,番剧,美剧,国漫,综艺等,免费在线观看,海外在线免费影院,全球海外华人影视站,解决海外国外版权播放限制,为全球华人打造免费,无广告的在线影视播放平台">
    <meta name="referrer" content="always">
    <meta name="referrer" content="no-referrer">
    <link href="{{ asset("cy/m/common.css") }}" rel="stylesheet">
    <script src="{{ asset("cy/m/jquery.min.js") }}"></script>
    <script src="{{ asset("cy/m/assembly.js") }}"></script>
    <script src="{{ asset("cy/m/swiper.min.js") }}"></script>
    <link rel="icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon">
</head>
<body>
<div class="navbody stretch nav-a lcb bottomb-b f-head-bj">
    <div class="l"><a class="f-head-color fa" href="javascript:history.go(-1)"></a></div>
    <h2><a href="javascript:;" class="f-head-color">搜索中心</a></h2>
    <div class="r cf">
        <a style="font-size:.56rem" class="f-head-color fa r" href="{{ path("search_m") }}"></a>
        <a class="fa r f-head-color" href="javascript:;"></a>
    </div>
</div>
<div class="navtop"></div>
<div class="notice back cor4"><i class="fa on"></i>搜索"{{ wd }}" 结果 " <span class="mac_total blue">{{ pagination.count }}</span>" 个资源</div>
<div class="searchlilst">
    <ul>
        {% if pagination.count >0 %}
            {% for info in pagination %}
                <li class="cf list-width">
                    <div class="top list-hide l">
                        <a class="img lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }})" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                            <span class="pack-bg br-bt"></span>
                            <span class="list-remarks hidden">更新至08集</span>
                        </a>
                    </div>
                    <div class="detail r cor4">
                        <a class="searchkey" href="{{ path('detail',{id:info.id}) }}">{{ info.title }}</a>
                        <p>{{ info.type }} / {{ info.area }} / {{ info.year }}</p>
                        <p>
                            {% for star in info.stars %}
                                <a href="{{ path("search",{'wd':star}) }}" target="_blank">{{ star }}</a>&nbsp;
                            {% endfor %}
                        </p>
                        <a href="{{ path('detail',{id:info.id}) }}" class="btn ol1"><i class="fa r-2"></i>立即播放</a>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
<div class="boxb">
    {% if pagination.count >0 %}
        <div class="tag mac_pages">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <div style="text-align:center;">
            <div>
                <img style="width:48%" src="{{ asset("cy/null.png") }}" alt="暂无数据">
            </div>
            <p style="font-size: .36rem;margin-top: .4rem;color: #999">没有搜索到您要的结果~<a class="on" href="javascript:;">点击反馈</a></p>
        </div>
    {% endif %}
</div>
<div></div>
<div id="leftlist" class="left-listbody-a">
    <div id="llof" class="leftmenubg"></div>
    <div class="left-list lcb">
        <div class="sidenv-top" style="background:#29abe2">
            <a class="sidenv_exit" href="javascript:;"><i class="fa rg6"></i>登陆</a>
            <a href="javascript:;" class="sidenv_user">
                <em><img src="{{ asset("cy/240c3b39ac935a30fa1d227698f0aa33.png") }}"></em>
                <p class="fyy">登陆后发现更多精彩...</p>
            </a>
            <div class="comiis_svg_box">
                <div class="comiis_svg_a"></div>
                <div class="comiis_svg_b"></div>
            </div>
        </div>
        <div class="bottom ">
            <ul>
                <li><a href="https://chongtmtv.com/"><i class="co6 fa"></i>首页</a></li>
                <li>
                    <a href="{{ path("dy") }}" title="电影"><i class="co0 fa"></i><span>电影</span></a>
                </li>
                <li>
                    <a href="{{ path("tv") }}" title="电视剧"><i class="co1 fa"></i><span>电视剧</span></a>
                </li>
                <li>
                    <a href="{{ path("zy") }}" title="综艺"><i class="co2 fa"></i><span>综艺</span></a>
                </li>
                <li>
                    <a href="{{ path("dm") }}" title="动漫"><i class="co3 fa"></i><span>动漫</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="ec_mh_foot back">
    <p class="comiis_mh_copy cor2">Copyright © 2021 老虎TV - 专属于华人影视,海外华人的在线视频媒体平台,海量高清视频在线观看</p>
</div>
<div class="ec-footer_scroll">
    <div class="ec-lrmenu">
        <a href="javascript:;" style="display:none" id="scrollUp" title="返回顶部"><i class="fa"></i></a>
        <a href="javascript:;" title="客服"><i class="fa"></i></a>
        <a href="{{ path("search_m") }}" title="搜索"><i class="fa"></i></a>
        <a href="javascript:;" title="留言"><i class="fa"></i></a>
        <a href="javascript:;" onclick="location.reload()" title="刷新"><i class="fa"></i></a>
    </div>
    <a href="javascript:;" title="菜单" class="ec-lrmenukey ol2"><i class="fa"></i></a>
</div>
<div class="popup allPopup hide">
    <div class="zdbj"></div>
    <div class="popup-box lcb br">
        <h2 class="popup-title cor2">冲TM TV公告</h2>
        <div class="popup-content cor2"><h4 style="color:#4e96f5">视频评论功能已正式上线啦，大家速速踊跃在视频下方评论您的观后感吧</h4>
            <br>
            <p style="color:#0694FF">求片：搜索不到您要看的视频? 不满意视频清晰度？点击右下角的留言板链接并留言您要的视频名字，我们会尽快处理！</p>
            <br>
            用户注册：请不要使用手机或邮箱进行注册，请用任意用户名注册。
        </div>
        <div class="popup-btn"><a class="popup-conch buthide ol2" style="margin-right:4%;" href="javascript:;">朕已阅</a><a class="popup-subs buthide ol7" href="javascript:;">取消</a></div>
    </div>
</div>
</body>
<script>
    var viewHeight = document.documentElement.clientHeight//获取可视区高度
    function lazyload() {
        var eles = document.querySelectorAll('a[data-original]')
        Array.prototype.forEach.call(eles, function (item, index) {
            var rect
            if (item.dataset.original === "")
                return
            rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
            if (rect.bottom >= 0 && rect.top < viewHeight) {
                !function () {
                    var img = new Image()
                    img.src = item.dataset.original
                    img.onload = function () {
                        item.style.backgroundImage = "url(" + img.src + ")";

                    }
                    item.removeAttribute("data-original")//移除属性，下次不再遍历
                    item.removeAttribute("lazyload")
                }()
            }
        })
    }

    lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
    document.addEventListener("scroll", lazyload)
</script>
</html>