<!DOCTYPE html>
<html data-n-head-ssr="" lang="zh-cmn-Hans" data-n-head="lang" style="font-size: 40px;" class="hairlines">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>搜索中心-老虎TV - 专属于华人影视,海外华人的在线视频媒体平台,海量高清视频在线观看</title>
    <meta name="keywords" content="老虎TV - 专属于华人影视,海外华人的在线视频媒体平台,海量高清视频在线观看">
    <meta name="description" content="老虎TV - 专属于华人影视,海外华人的在线视频媒体平台,海量高清视频在线观看">
    <meta name="referrer" content="always">
    <meta name="referrer" content="no-referrer">
    <link href="{{ asset("cy/m/common.css") }}" rel="stylesheet">
    <script src="{{ asset("cy/m/jquery.min.js") }}"></script>
    <script src="{{ asset("cy/m/assembly.js") }}"></script>
    <script src="{{ asset("cy/m/swiper.min.js") }}"></script>
    <link rel="icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon">
</head>
<body data-new-gr-c-s-check-loaded="14.1050.0" data-gr-ext-installed="">
<div class="sowindow bcrd">
    <div class="so-home">
        <div class="search-input cf">
            <form id="search" name="search" method="get" action="{{ path("search") }}">
                <input type="text" autofocus="" name="wd" class="back search-input mac_wd l cor2" value="" placeholder="输入影片或演员名称">
                <div class="qh-search">
                    <a href="javascript:;" class="col2 mac-navs-name">视频</a>
                    <i class="fa gengduo nav1 cor2"></i>
                    <i class="fa gengduo nav2 cor2"></i>
                </div>
                <a class="search-f" href="javascript:history.go(-1)">取消</a>
            </form>
        </div>
        <div class="qh-event">
            <i></i>
            <span class="qh-navs-name" value="/index.php/vod/search.html">视频</span>
            <span class="qh-navs-name" value="/index.php/actor/search.html">明星</span></div>
    </div>
    <div class="box">
        <div class="title-a cf">
            <h2 class="l cor2">
                <span>热门搜索</span>
            </h2>
        </div>
        <div class="scbar_hot size">
            <a class="back" href="{{ path("search") }}">雪中悍刀行</a>
            <a class="back" href="{{ path("search") }}">国王排名</a>
        </div>
    </div>
    <div class="leo-pop-item">
        <div class="title-a cf box">
            <h2 class="l cor2">
                <span>热播榜单</span>
            </h2>
            <div class="r siza cor4">不负好时光~</div>
        </div>
        <div class="play-catalog cor2 cf">
            <span class="on mr">电影<i></i></span>
            <span class="mr">剧集<i></i></span>
            <span class="mr">综艺<i></i></span>
            <span class="mr">动漫<i></i></span>
        </div>
        <div class="ec-pop-rank-body play-detail box" style="display:block">
            <ul class="ec-pop-rank-item">
                <li><i class="co1">1</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/145706/sid/1/nid/1.html">X特遣队：全员集结</a></span><em class="cor4">人气：619217</em></li>
                <li><i class="co2">2</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/253151/sid/1/nid/1.html">尚气与十环传奇</a></span><em class="cor4">人气：613481</em></li>
                <li><i class="co3">3</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/253080/sid/1/nid/1.html">沙丘</a></span><em class="cor4">人气：569814</em></li>
                <li><i class="co4">4</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/251613/sid/1/nid/1.html">毒液2</a></span><em class="cor4">人气：392621</em></li>
                <li><i class="co5">5</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/286239/sid/1/nid/1.html">扬名立万</a></span><em class="cor4">人气：329414</em></li>
                <li><i class="co6">6</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/286229/sid/1/nid/1.html">误杀2</a></span><em class="cor4">人气：328437</em></li>
            </ul>
        </div>
        <div class="ec-pop-rank-body play-detail box">
            <ul class="ec-pop-rank-item">
                <li><i class="co1">1</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/249283/sid/1/nid/1.html">鱿鱼游戏</a></span><em class="cor4">人气：716521</em></li>
                <li><i class="co2">2</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/145228/sid/1/nid/1.html">扫黑风暴</a></span><em class="cor4">人气：605148</em></li>
                <li><i class="co3">3</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/285822/sid/1/nid/1.html">斛珠夫人</a></span><em class="cor4">人气：568821</em></li>
                <li><i class="co4">4</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/252809/sid/1/nid/1.html">八角亭谜雾</a></span><em class="cor4">人气：462615</em></li>
                <li><i class="co5">5</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/250569/sid/1/nid/1.html">启航：当风起时</a></span><em class="cor4">人气：396184</em></li>
                <li><i class="co6">6</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/246582/sid/1/nid/1.html">云南虫谷</a></span><em class="cor4">人气：365821</em></li>
            </ul>
        </div>
        <div class="ec-pop-rank-body play-detail box">
            <ul class="ec-pop-rank-item">
                <li><i class="co1">1</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/285764/sid/1/nid/1.html">令人心动的offer 第三季</a></span><em class="cor4">人气：263165</em></li>
                <li><i class="co2">2</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/299429/sid/1/nid/1.html">单身即地狱</a></span><em class="cor4">人气：235508</em></li>
                <li><i class="co3">3</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/286041/sid/1/nid/1.html">哈哈哈哈哈 第二季</a></span><em class="cor4">人气：230614</em></li>
                <li><i class="co4">4</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/287409/sid/1/nid/1.html">令人心动的offer 第三季</a></span><em class="cor4">人气：222305</em></li>
                <li><i class="co5">5</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/175821/sid/1/nid/1.html">女儿们的恋爱第四季</a></span><em class="cor4">人气：195821</em></li>
                <li><i class="co6">6</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/300007/sid/1/nid/1.html">麻花特开心</a></span><em class="cor4">人气：194116</em></li>
            </ul>
        </div>
        <div class="ec-pop-rank-body play-detail box">
            <ul class="ec-pop-rank-item">
                <li><i class="co1">1</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/233287/sid/1/nid/1.html">海贼王</a></span><em class="cor4">人气：891654</em></li>
                <li><i class="co2">2</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/252866/sid/1/nid/1.html">国王排名</a></span><em class="cor4">人气：593216</em></li>
                <li><i class="co3">3</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/233302/sid/1/nid/1.html">斗罗大陆</a></span><em class="cor4">人气：592148</em></li>
                <li><i class="co4">4</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/287200/sid/1/nid/1.html">鬼灭之刃游郭篇</a></span><em class="cor4">人气：314780</em></li>
                <li><i class="co5">5</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/285702/sid/1/nid/1.html">斗破苍穹三年之约</a></span><em class="cor4">人气：306235</em></li>
                <li><i class="co6">6</i><span class="hidden"><a href="https://chongtmtv.com/index.php/vod/play/id/285668/sid/1/nid/1.html">英雄联盟：双城之战</a></span><em class="cor4">人气：236584</em></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>