{% extends 'm/base.html.twig' %}
{% block body %}
    <div class="head-c">
        <div class="cf ol2" style="position:fixed;z-index: 99;left: 0;right: 0;top: 0;">
            <div class="nav-a" style="position: relative;background:inherit">
                <div class="l" style="width: 1.6rem;"><a class="logo" style="background-image: url({{ asset("cy/kt.png") }});" href="{{ path("index") }}"></a></div>
                <h2><a href="{{ path("search_m") }}" class="search cf"><span class="l sotitle">输入影片或演员名称</span><span class="soinoc fa r"></span></a></h2>
                <div class="r cf">
                    {#                    <a class="fa r" href=""></a> #}
                    <a class="fa r leftlistshow listNav" href="javascript:;"></a>
                </div>
            </div>
            <div class="swiper-container2 l hidden swiper-container-initialized swiper-container-horizontal swiper-container-android">
                <ul id="nav-bar" class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <li class="swiper-slide ecnav-dt swiper-slide-active"><a href="{{ asset("index") }}">首页</a></li>
                    <li class="swiper-slide swiper-slide-next"><a href="{{ path('dy') }}">电影</a></li>
                    <li class="swiper-slide"><a href="{{ path('tv') }}">电视剧</a></li>
                    <li class="swiper-slide"><a href="{{ path('zy') }}">综艺</a></li>
                    <li class="swiper-slide"><a href="{{ path('dm') }}">动漫</a></li>
                </ul>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <div style="height:2.22rem"></div>
        <div class="bottom">
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    {% for k,info in topicList %}
                        <div class="swiper-slide swiper-color" edata-color="#333">
                            <a class="index-swiper-bg" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}" style='background-image: url({{ path('img',{id:info.imgUrl}) }});' alt="{{ info.title }}{{ info.vodRemarks }}"></a>
                            <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">{{ info.title }}·{{ info.vodRemarks }}</h1></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="tag cl">
        <ul class="index-tag type0">
            <li><a href="{{ path("dy") }}"><i class="fa ol1"></i><span class="title">电影</span></a></li>
            <li><a href="{{ path("tv") }}l"><i class="fa ol2"></i><span class="title">电视剧</span></a></li>
            <li><a href="{{ path("zy") }}"><i class="fa ol3"></i><span class="title">综艺</span></a></li>
            <li><a href="{{ path("dm") }}"><i class="fa ol5"></i><span class="title">动漫</span></a></li>
            {#            <li><a href="{{ path("dy") }"><i class="fa ol4"></i><span class="title">安卓TV端</span></a></li> #}
            {#            <li><a href="{{ path("dy") }"><i class="fa ol5"></i><span class="title">收藏</span></a></li> #}
        </ul>
    </div>
    <div class="cf back cor2" style="border-radius:8px;padding:.14rem;margin:.3rem;height:22px;line-height:22px;overflow:hidden">
        <i class="fa on" style="font-size:20px;width:24px;line-height:22px;display:block;float:left"></i>
        <div style="font-size: 14px;height:22px;line-height:22px;overflow:hidden;">
            <marquee direction="left">如遇视频不能播放请刷新网页或切换“播放路线”。</marquee>
        </div>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2"><span class="weight"><i class="fa on"></i>伦理片</span><a class="cor4" href="{{ path("show_category",{'type':"1",'tag':'伦理片'}) }}" title="更多热映影视点击这里">更多<i class="fa"></i></a></h2>
                <div class="r siza on"> 今日更新"32"部</div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in llp %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    {#    <div class="ec-ad top20"><a href="#" target="_blank"><img src="" alt="首页分类"></a></div> #}
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight"><i class="fa on"></i>电影</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':"1"}) }}" title="更多热映影视点击这里">更多<i class="fa"></i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in movie %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight"><i class="fa on"></i>电视剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':"2"}) }}" title="更多热映影视点击这里">更多<i class="fa"></i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in dsj %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight"><i class="fa on"></i>综艺</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':"3"}) }}" title="更多热映影视点击这里">更多<i class="fa"></i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in zy %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight"><i class="fa on"></i>动漫</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':"4"}) }}" title="更多热映影视点击这里">更多<i class="fa"></i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in dm %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>

    <script type="text/javascript">
        var viewHeight = document.documentElement.clientHeight//获取可视区高度
        function lazyload() {
            var eles = document.querySelectorAll('div[data-original]')
            Array.prototype.forEach.call(eles, function (item, index) {
                var rect
                if (item.dataset.original === "")
                    return
                rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
                if (rect.bottom >= 0 && rect.top < viewHeight) {
                    !function () {
                        var img = new Image()
                        img.src = item.dataset.original
                        img.onload = function () {
                            item.style.backgroundImage = "url(" + img.src + ")";

                        }
                        item.removeAttribute("data-original")//移除属性，下次不再遍历
                        item.removeAttribute("lazyload")
                    }()
                }
            })
        }

        lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
        document.addEventListener("scroll", lazyload)

        var swiper = new Swiper(".swiper-container1", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
{% endblock %}