{% extends 'base.html.twig' %}
{% block description %}  {{ wd }}  搜索 检索 免费 在线电影 伦理 午夜 成人{% endblock %}
{% block body %}
    <div class="m-search">
        <div class="sbg"></div>
        <div class="m-search-case m-tosearch-long">
            <form id="search" name="search" method="get" action="{{ path("search") }}">
                <input type="text" name="wd" value="{{ wd }}" placeholder="输入影片或演员名称" class="input jq-focus">
                <button type="submit" class="btn"><i class="fa cor1">&#xe8c9;</i></button>
            </form>
        </div>
        <div class="m-search-card wwp">
            <ul class="clearfix">
                <li class="focus"><a href="javascript:void(0)">视频</a></li>
                {#                <li><a href="/index.php/actor/search.html?wd=">明星</a></li> #}
            </ul>
            {#            <a href="/index.php/label/rank.html" target="_blank" class="hotrank"><i class="fa icon-hot">&#xe782;</i>热搜榜</a> #}
        </div>
    </div>
    <div class="wwp cf top40">
        <div class="ecleft l">
            <div class="ec-search">
                <ul>
                    {% if pagination.count >0 %}
                        {% for info in pagination %}
                            <li class="search-list cf">
                                <div class="l" style="width:220px;">
                                    <div class="pack-packcover returl list-top-b">
                                        <a class="aplus-exp ecimgbor" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}" title="{{ info.title }}">
                                            <div class="bj eclazy" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }});"></div>
                                            <span class="pack-bg"></span>
                                            <span class="pack-prt">{{ info.type }}</span>
                                            <span class="pack-prb">{{ info.vodRemarks }}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="right cor3">
                                    <a class="title cor1" href="{{ path('detail',{id:info.id}) }}">{{ info.title }}<span class="cor2">{{ info.year }}</span></a>
                                    <div class="ec-item">
                                        <p class="ec_indezb"><span>状态：</span><span class="author">{{ info.vodRemarks }}</span><span>导演：</span>{{ info.director| join(',') }}</p>
                                        <p class="albumtitle"><span>演员：</span>{{ info.stars| join(',') }}</p>
                                    </div>
                                    <p class="ecitem-desc weaken">{{ info.introduction }}</p>
                                    <div class="content_detail">
                                        <div class="playbtn"><a class="btn ol2" href="{{ path('detail',{id:info.id}) }}"><i class="fa"></i>立即播放</a></div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="ui-bar list-page fn-clear">

                {% if pagination.count >0 %}
                    <div class="mac_pages">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                {% else %}
                    <div style="text-align:center;">
                        <div>
                            <img src="{{ asset("cy/null.png") }}" alt="暂无数据">
                        </div>
                        <p class="top20 cor3">暂无数据</p>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="ecright r">
            <div>
                <div class="title-a"><h3>热播影视</h3><a href="{{ path("rank") }}" class="cor3 r">更多<i class="fa">&#xe62d;</i></a></div>
                <div class="hot-modular">
                    <ul class="rank-list">
                        {% for k,info in topicList %}
                            <li class="rank-item cf">
                                <a href="{{ path('detail',{id:info.id}) }}" class="rank-item-link" title="{{ info.title }}">
                                    <div class="mod-left">
                                        <div class="rank-num-box">
                                            <i class="rank-nub cohot{{ k+1 }} cor3">{{ k+1 }}</i>
                                        </div>
                                    </div>
                                    <div class="mod-right">
                                        <h3 class="anthology-wrap main-title">{{ info.title }}</h3>
                                        <div class="sub-box">
                                            <p class="sub-des cor3 hidden">{{ info.stars| join(',') }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var viewHeight = document.documentElement.clientHeight//获取可视区高度
        function lazyload() {
            var eles = document.querySelectorAll('div[data-original]')
            Array.prototype.forEach.call(eles, function (item, index) {
                var rect
                if (item.dataset.original === "")
                    return
                rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
                if (rect.bottom >= 0 && rect.top < viewHeight) {
                    !function () {
                        var img = new Image()
                        img.src = item.dataset.original
                        img.onload = function () {
                            item.style.backgroundImage = "url(" + img.src + ")";

                        }
                        item.removeAttribute("data-original")//移除属性，下次不再遍历
                        item.removeAttribute("lazyload")
                    }()
                }
            })
        }

        lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
        document.addEventListener("scroll", lazyload)
    </script>
{% endblock %}