{% extends 'base_dy.html.twig' %}
{% block body %}

<body data-new-gr-c-s-check-loaded="14.1042.0" data-gr-ext-installed="">
<div class="container">
    {% include 'head.html.twig' %}
    <div class="list_r cclear">
        <ul class="breadcrumb cclear">
            <li><a href="{{ path("index") }}">首页</a></li>
            <li class="active">{{ title }}</li>
        </ul>
        <div id="list_dy">
            <ul>
                {% for new in res %}

                    <li><a href="{{ path('detail',{id:new.id}) }}">{{ new.title }}</a><span
                                class="time hidden-sm hidden-xs">{{ new.date }}</span></li>
                {% endfor %}

            </ul>
            <div class="text-center">
                <ol class="pagination">
                    <li class="disabled"><span>首页</span></li>
                    <li class="disabled"><span>上一页</span></li>
                    <li class="active"><span>1</span></li>
                    <li><a class="active" href="https://www.domp4.cc/list/99-2.html">2</a></li>
                    <li><a class="active" href="https://www.domp4.cc/list/99-3.html">3</a></li>
                    <li><a href="https://www.domp4.cc/list/99-2.html">下一页</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="vod_right">
        <div class="top">
            <script src="./最新电影下载_热门电影迅雷下载-MP4电影_files/right.js"></script>
        </div>
        <div class="list-group cclear">
            <div class="cclear" id="heading-text">近期下载排行</div>
            <ul>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/DrDKmJ33333J.html"
                                               title="2022金巧巧惊悚恐怖《阴阳镇怪谈》HD1080p.国语中字">2022金巧巧惊悚恐怖《阴阳镇怪谈》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/e0eqWD11111D.html"
                                               title="2022国产动作武侠《千里不留行》HD1080p.国语中字">2022国产动作武侠《千里不留行》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/GjwTiLGGGGGL.html"
                                               title="2021漫威冒险科幻《永恒族》HD1080p.中英双字">2021漫威冒险科幻《永恒族》HD1080p.中英双字</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/SsBgYfMMMMMf.html"
                                               title="2021美国灾难科幻《母亲/机器人》HD1080p.中文字幕">2021美国灾难科幻《母亲/机器人》HD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/j1uDFOEEEEEO.html"
                                               title="2021国产浪漫爱情《你的世界如果没有我》HD1080p.国语中字">2021国产浪漫爱情《你的世界如果没有我》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/mqlv4iMMMMMi.html"
                                               title="2022欧阳震华悬疑古装《新洗冤录》HD1080p.国语中字">2022欧阳震华悬疑古装《新洗冤录》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/EU5x1bAAAAAb.html"
                                               title="2021俄罗斯动作战争《政变旅客》HD1080p.中文字幕">2021俄罗斯动作战争《政变旅客》HD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/979zeTLLLLLT.html"
                                               title="1994美国7.9分暴力美学《天生杀人狂/闪灵杀手》导演剪辑版.BD1080p.中英字幕"><font
                                color="#17AC56">1994美国7.9分暴力美学《天生杀人狂/闪灵杀手》导演剪辑版.BD1080p.中英字幕</font></a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/TNfE4H11111H.html"
                                               title="2022周云鹏幽默喜剧《澡堂也疯狂》HD1080p.国语中字">2022周云鹏幽默喜剧《澡堂也疯狂》HD1080p.国语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/NV1yf4000004.html"
                                               title="2021加拿大灾难剧情《13分钟》BD1080p.中英双字">2021加拿大灾难剧情《13分钟》BD1080p.中英双字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/97NBuE00000E.html"
                                               title="2021日本奇幻动作《东京复仇者》HD1080p.日语中字">2021日本奇幻动作《东京复仇者》HD1080p.日语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/21381.html"
                                               title="2018香港犯罪喜剧《三个绑匪七条心》BD1080p.粤语中字">2018香港犯罪喜剧《三个绑匪七条心》BD1080p.粤语中字</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/j1OvANDDDDDN.html"
                                               title="2021国产美食纪录片《风味人间第三季》更新至03集">2021国产美食纪录片《风味人间第三季》更新至03集</a></li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/7NE0p2aaaaa2.html"
                                               title="1995沙鲁克·汗8.1分爱情喜剧《勇夺芳心》BD1080p.印地语中字"><font color="#EF4E1D">1995沙鲁克·汗8.1分爱情喜剧《勇夺芳心》BD1080p.印地语中字</font></a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/html/ADAId4222224.html"
                                               title="2008美国奇幻冒险《图书馆员：圣杯的诅咒》BD1080p.中文字幕">2008美国奇幻冒险《图书馆员：圣杯的诅咒》BD1080p.中文字幕</a>
                </li>
                <li class="list-group-item"><a href="https://www.domp4.cc/detail/7636.html"
                                               title="2009美国犯罪动作《暗夜列车》BD1080p.中文字幕">2009美国犯罪动作《暗夜列车》BD1080p.中文字幕</a>
                </li>
            </ul>
        </div>
    </div>
    {% include 'footer.html.twig' %}
</div>
</body>
{% endblock %}
