<!DOCTYPE html>
<html>
<head>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5XVKMZ4');</script>
    <meta charset="UTF-8">
    <title>{% block title %}Mp4电影_最新电影下载_最新高清MP4电影资源下载!{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="{% block keywords %}Mp4电影下载,迅雷电影下载,最新电影下载,热门电影下载{% endblock %}">
    <meta name="description" content="{% block description %}Mp4电影_2020最新电影下载_高清MP4电影下载_迅雷电影下载 伦理 三级 色情 免费在线 最新 豆瓣 高分{% endblock %}">
    <link rel="stylesheet" href="{{ asset("dy/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("dy/layui.css") }}">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {#    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.hilaiya.com/?fulione.com"> #}
    {#    <meta name="mobile-agent" content="format=html5; url=https://m.hilaiya.com/?fulione.com"> #}
    <script src="{{ asset("dy/push.js") }}"></script>
    <script type="text/javascript" src="{{ asset("dy/uaredirectforpc.js") }}"></script>
    {#    <script type="text/javascript">uaredirect("https://m.hilaiya.com/?fulione.com");</script> #}
    <link rel="stylesheet" type="text/css" href="{{ asset("dy/style.css") }}">
    <script charset="utf-8" src="{{ asset("dy/jquery.min.js") }}"></script>
    <script>window.jQuery || document.write('<script src="{{ asset("Style/2020/js/jquery.js") }}"><\/script>');</script>
    <script src="{{ asset("dy/bootstrap.min.js") }}"></script>
    <script src="{{ asset("dy/clipboard.min.js") }}"></script>
    <script src="{{ asset("dy/jquery.lazyload.min.js") }}"></script>
    <script src="{{ asset("dy/layui.js") }}"></script>
    <link rel="shortcut icon" href="{{ asset("favicon.ico") }}" type="image/x-icon"/>

    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <link id="layuicss-layer" rel="stylesheet" href="{{ asset("dy/layer.css") }}" media="all">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6e21d01d66eedcc56005f35238aa54c9";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5XVKMZ4"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>

</html>
