<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}老虎TV - 专属于华人,海外华人的在线视频媒体平台,海量高清视频在线观看{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}2021最新电影 在线视频,在线电影,电影,电影大全,电影天堂,最新电影,好看的电影,电影排行榜,免费在线观看,电影,电视剧,动漫,视频网站,高清视频,恐怖电影,奈非蓝光,2021最新电影,蓝光电影,免费VIP视频,日本动,韩国电影,日本电影,免费视频{% endblock %}"/>
    <meta name="description" content="{% block description %}老虎TV 免费为您收集分享最新热门电影,独播点播电视剧,番剧,美剧,国漫,综艺等,免费在线观看,海外在线免费影院,全球海外华人影视站,解决海外国外版权播放限制,为全球华人打造免费,无广告的在线影视播放平台{% endblock %}"/>
    <link href="{{ asset("cy/common.css") }}" rel="stylesheet" type="text/css"/>
    <script src="{{ asset("cy/jquery.min.js") }}"></script>
    <script src="{{ asset("cy/assembly.js") }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <script src="{{ asset("cy/home.js") }}"></script> #}
    {#    <script src="{{ asset("cy/ec.js") }}"></script> #}
    {#    <script>if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) { #}
    {#            new WOW().init(); #}
    {#        } #}
    {#        ;</script> #}
    <link rel="shortcut icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon"/>
</head>
<body>
<div class="header [name]">
    <div class="header-container cf [width] wwp" id="header-contain">
        <a class="head-logo l" href="{{ path("index") }}" title="老虎TV - 专属于华人,海外华人的在线视频媒体平台,海量高清视频在线观看"><img src="{{ asset("cy/kt.png") }}" alt="老虎TV - 专属于华人,海外华人的在线视频媒体平台,海量高清视频在线观看"/></a>
        <div class="ecnav-nav l cf">
            <div class="nav-channel xiaoyinqing l">
                <a href="{{ path("dy") }}" class='main-nav'>电影</a>
                <a href="{{ path("tv") }}" class='main-nav'>电视剧</a>
                <a href="{{ path("zy") }}" class='main-nav'>综艺</a>
                <a href="{{ path("dm") }}" class='main-nav'>动漫</a>
                <a href="{{ path("wy") }}" class='main-nav'>午夜剧场</a>
            </div>
            {#            <div id="dhBtn" class="nav-guide l"> #}
            {#                <a href="javascript:;">更多<i class="fa nav-more">&#xe62e;</i></a> #}
            {#                <div class="ec-allnav box"> #}
            {#                    <li class="triangle"></li> #}
            {#                    <ul class="cf"> #}
            {#                        <li class="dayinqing"><a href="{{ path("dy") }}" class='nav-link'><i class="co1 fa">&#xe8b6;</i> #}
            {#                                <spam>电影</spam> #}
            {#                            </a></li> #}
            {#                        <li class="dayinqing"><a href="{{ path("tv") }}" class='nav-link'><i class="co2 fa">&#xe8b6;</i> #}
            {#                                <spam>电视剧</spam> #}
            {#                            </a></li> #}
            {#                        <li class="dayinqing"><a href="{{ path("zy") }}" class='nav-link'><i class="co3 fa">&#xe8b6;</i> #}
            {#                                <spam>综艺</spam> #}
            {#                            </a></li> #}
            {#                        <li class="dayinqing"><a href="{{ path("dm") }}" class='nav-link'><i class="co4 fa">&#xe8b6;</i> #}
            {#                                <spam>动漫</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/index.php/label/rank.html" class='nav-link'><i class="co3 fa">&#xe7c4;</i> #}
            {#                                <spam>影视排行</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/index.php/map/index.html" class='nav-link'><i class="co1 fa">&#xe71e;</i> #}
            {#                                <spam>最新更新</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/index.php/gbook/index.html" class='nav-link'><i class="co2 fa">&#xe642;</i> #}
            {#                                <spam>留言板</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/index.php/user/plays.html" class='nav-link'><i class="co3 fa">&#xe8b0;</i> #}
            {#                                <spam>观看记录</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/index.php/actor/index.html" class='nav-link'><i class="co7 fa">&#xe8bc;</i> #}
            {#                                <spam>明星广场</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/ds.php/live" class='nav-link'><i class="co2 fa">&#xe8d5;</i> #}
            {#                                <spam>看直播</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/ds.php/viv" class='nav-link'><i class="co4 fa">&#xe60a;</i> #}
            {#                                <spam>电视直播</spam> #}
            {#                            </a></li> #}
            {#                        <li><a href="/index.php/topic/index.html" class='nav-link'><i class="co2 fa">&#xe67e;</i> #}
            {#                                <spam>影视专题</spam> #}
            {#                            </a></li> #}
            {#                    </ul> #}
            {#                </div> #}
            {#            </div> #}
        </div>
        <div class="r cf">
            <div class="so-home l cf [id] mg-search">
                <form class="search-input cf" id="search" name="search" method="get" action="{{ path("search") }}">
                    <input type="text" name="wd" class="search-input mac_wd l" value="" placeholder="输入影片或演员名称"/>
                    <div class="qh-search cor5"><a href="javascript:" class="cor5 mac-navs-name">视频</a><i class="fa">&#xe62e;</i></div>
                    <a class="search-hot l cor5" href="{{ path("rank") }}" class="search-right-entry"><i class="fa icon-hot cor5" style="font-size:20px">&#xe782;</i></a>
                    <button type="submit" id="searchbutton" class="sllogo l ol2">全网搜</button>
                </form>
                <div class="hot-search-list box">
                    <h5 class="title cor3">热门搜索</h5>
                    <a href="/index.php/vod/search/wd/%E9%9B%AA%E4%B8%AD%E6%82%8D%E5%88%80%E8%A1%8C.html" class="hot-item"><span class="order co1">1</span><span class="hot-word">雪中悍刀行</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E5%9B%BD%E7%8E%8B%E6%8E%92%E5%90%8D.html" class="hot-item"><span class="order co2">2</span><span class="hot-word">国王排名</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E5%9F%83%E5%8D%9A%E6%8B%89%E5%89%8D%E7%BA%BF.html" class="hot-item"><span class="order co3 ">3</span><span class="hot-word">埃博拉前线</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E9%A3%8E%E8%B5%B7%E6%B4%9B%E9%98%B3.html" class="hot-item"><span class="order ">4</span><span class="hot-word">风起洛阳</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E4%B9%9F%E5%B9%B3%E5%87%A1.html" class="hot-item"><span class="order ">5</span><span class="hot-word">也平凡</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E9%AC%BC%E7%81%AD%E4%B9%8B%E5%88%83%E6%B8%B8%E9%83%AD%E7%AF%87.html" class="hot-item"><span class="order ">6</span><span class="hot-word">鬼灭之刃游郭篇</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E4%BB%A4%E4%BA%BA%E5%BF%83%E5%8A%A8%E7%9A%84offer.html" class="hot-item"><span class="order ">7</span><span class="hot-word">令人心动的offer</span><span class="tag cr1">荐</span></a>
                    <a href="/index.php/vod/search/wd/%E4%B8%8D%E8%80%81%E5%A5%87%E4%BA%8B.html" class="hot-item"><span class="order ">8</span><span class="hot-word">不老奇事</span><span class="tag cr1">荐</span></a>
                </div>
                <div class="qh-event box topfadeInUp animated">
                    <i class="triangle"></i>
                    <a href="javascript:;" class="qh-navs-name" value="/index.php/vod/search.html">视频</a>
                    <a href="javascript:;" class="qh-navs-name" value="/index.php/actor/search.html">明星</a>
                </div>
            </div>
            {#            <div class="ucenter l mac_history"> #}
            {#                <a class="cor5" href="javascript:;"><span class="fa fa-clock-o" style="font-size:24px;">&#xe8b0;</span><span class="icon-title">播放记录</span></a> #}
            {#                <div class="play-record mac_history_box box topfadeInUp animated"> #}
            {#                    <div class="list"> #}
            {#                        <i class="triangle triangle"></i> #}
            {#                        <a class="more-button ol2 button" href="/index.php/user/plays.html">查看更多</a> #}
            {#                    </div> #}
            {#                </div> #}
            {#            </div> #}
            {#            <div class="ucenter l"><a class="cor5" href="/index.php/topic/index.html"><span class="fa fa-bookmark-o" style="font-size:24px">&#xe67e;</span><span class="icon-title">专题</span></a></div> #}
            {#            <div class="ucenter l"><a class="cor5" href="/index.php/label/app.html"><span class="fa fa-tablet" style="font-size:24px;">&#xe60a;</span><span class="icon-title">安卓TV端</span></a></div> #}
            {#            <div class="ucenter l login-after"> #}
            {#                <a class="avatar mac_ulog" href="javascript:;"> #}
            {#                    <img class="vip-border" src="{{ asset("cy/240c3b39ac935a30fa1d227698f0aa33.png") }}" alt="游客"/> #}
            {#                    <img class="avatar-pass" src="{{ asset("cy/avatar-pass.png") }}"/> #}
            {#                </a> #}
            {#                <div id="panel" class="panel-asgkf box topfadeInUp animated" style="width:198px"> #}
            {#                    <i class="triangle"></i> #}
            {#                    <div class="index-denglu"> #}
            {#                        <div class="text-content b-t">登录后可享受</div> #}
            {#                        <div class="text-alink"><i class="fa cor1">&#xe71e;</i>尊享极清观影体验</div> #}
            {#                        <div class="text-alink"><i class="fa cor1">&#xe6ad;</i>同步多端播放记录</div> #}
            {#                        <div class="text-alink"><i class="fa cor1">&#xe713;</i>热播精彩及时追</div> #}
            {#                        <div class="button-area"><a class="mac_ulog button ol2" href="javascript:;">立即登录</a></div> #}
            {#                    </div> #}
            {#                </div> #}
        </div>
    </div>
</div>
</div>
{% block body %}{% endblock %}
{% include 'footer.html.twig' %}
<div class="popup">
    <div class="popup-bg"></div>
    <div class="popup-box notice back topfadeInUp animated" style="height:440px;width:360px">
        <h2 class="popup-title cor2">老虎TV TV公告</h2>
        <div class="popup-content cor2" style="max-height:324px;"><img class="popup-img" src="{{ asset("cy/ca2773a1be2d903a386e4c654728c46d.png") }}"><h4 style="color:#4e96f5">视频评论功能已正式上线啦，大家速速踊跃在视频下方评论您的观后感吧</h4>
            <br/>
            <p style="color:#0694FF">求片：搜索不到您要看的视频? 不满意视频清晰度？点击右下角的留言板链接并留言您要的视频名字，我们会尽快处理！</p>
            <br/>
            用户注册：请不要使用手机或邮箱进行注册，请用任意用户名注册。<b><a class="cor1" href=""> </a></b></div>
        <div class="popup-btn"><a class="popup-conch buthide ol2" style="margin-right:9px;" href="javascript:;">朕已阅</a><a class="popup-subs buthide ol7" href="javascript:;">取消</a></div>
    </div>
</div>
<style>
    .ecrank-no, .vod-rank-list .head-en {
        opacity: .9;
        background-image: -webkit-linear-gradient(270deg, rgba(24, 25, 30, .13), rgba(24, 25, 30, .04));
        color: #333
    }

    .ec-footer {
        background-color: #f9f9f9
    }

    .triangle {
        border-bottom-color: #fff;
    }

    .box, .mac_results {
        background-color: #fff;
    }
</style>


<script>

    var startY = $('.header').position().top + $('.header').outerHeight()
    // var startY = position = $(this).scrollTop();;

    $(window).scroll(function () {
        checkY();
    });

    function checkY() {
        if ($(window).scrollTop() > startY) {
            $('.fixedDiv').slideDown();
            $('.header').addClass('highlight')

        } else {
            $('.header').removeClass('highlight')

        }
    }

    checkY();

</script>

</body>

</html>