<div id="top" class="header">
    <div class="logo"><a href="{{ path('index') }}">
            <img style="width:70px;hight:40px" src="{{ asset('dy/logo1.jpeg') }}" alt="MP4电影"></a></div>
    <div class="top_nav fright"><a href="{{ path('update') }}" style="color:red">今日更新</a>|
        <a rel="nofollow" href="{{ path('message') }}">留言</a>|
        <!-- <a href="https://m.domp4.cc/?fulione.com">移动版</a>        -->
    </div>
    <nav class="navbar navbar-inverse cclear">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span
                            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">MP4电影</a></div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('news') }}">最新电影</a></li>
                    <li><a href="{{ path('dz') }}">动作片</a></li>
                    <li><a href="{{ path('kh') }}">科幻片</a></li>
                    <li><a href="{{ path('aq') }}">爱情片</a></li>
                    <li><a href="{{ path('xj') }}">喜剧片</a></li>
                    <li><a href="{{ path('kb') }}">恐怖片</a></li>
                    <li><a href="{{ path('zz') }}">战争片</a></li>
                    <li><a href="{{ path('jq') }}">剧情片</a></li>
                    <li><a href="{{ path('jl') }}">纪录片</a></li>
                    <li><a href="{{ path('dh') }}">动画片</a></li>
                    <li><a href="{{ path('dsj') }}">电视剧</a></li>
                    <li><a href="{{ path('topic') }}">专题</a></li>
                    <li><a href="{{ path('sy') }}">索引</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="search">
        <form name="myform" class="navbar-form" action="{{ path("search") }}" method="post">
            <div class="form-group input-group">
                <input type="text" class="form-control" id="wd" name="keyword" placeholder="片名/主演/导演/标签">
                <input type="hidden" name="_token" value="{{ csrf_token('search-item') }}" />
                <button type="submit" class="btn btn-default glyphicon glyphicon-search">搜索</button>
            </div>
        </form>
    </div>
    <div class="header_top"></div>
</div>
