{% if pageCount > 1 %}
    <ul>
        <li class="page_link"><a style="margin:0;" class="back" href="{{ path(route, query|merge({(pageParameterName): 1})) }}"><i class="fa">&#xe7ea;</i></a></li>
        {% if previous is defined %}
            <li><a class="back" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa">&#xe716;</i></a></li>
        {% else %}
            <li><a class="back"><i class="fa">&#xe716;</i></a></li>
        {% endif %}
        <li class="page_tip"><a class="back" href="javascript:;">{{ current }}&nbsp;/&nbsp;{{ pageCount }}</a></li>
        {% if next is defined %}
            <li><a class="back" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa">&#xe62d;</i></a></li>
        {% else %}
            <li><a class="back"><i class="fa">&#xe62d;</i></a></li>
        {% endif %}
        <li class="page_link"><a style="margin:0;" class="back" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}"><i class="fa">&#xe7eb;</i></a></li>
    </ul>
{% endif %}
