<!DOCTYPE html>
<!-- saved from url=(0022)https://hilaiya.com/ -->
<html data-n-head-ssr="" lang="zh-cmn-Hans" data-n-head="lang" style="font-size: 40px;" class="hairlines">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>老虎TV - 专属于新西兰华人,海外华人的在线视频媒体平台,海量高清视频在线观看</title>
    <meta name="keywords" content="在线视频,在线电影,电影,电影大全,电影天堂,最新电影,好看的电影,电影排行榜,免费在线观看,电影,电视剧,动漫,视频网站,高清视频,恐怖电影,奈非蓝光,2021最新电影,蓝光电影,免费VIP视频,日本动,韩国电影,日本电影,免费视频,多瑙,多瑙影院,一帆视频,欧乐影院,555影视,独播库,iyingshi,爱影视,瓜子TV,泥巴影院,海外华人影院">
    <meta name="description" content="老虎TV (hilaiya.com) 免费为您收集分享最新热门电影,独播点播电视剧,番剧,美剧,国漫,综艺等,免费在线观看,海外在线免费影院,全球海外华人影视站,解决海外国外版权播放限制,为全球华人打造免费,无广告的在线影视播放平台">
    <meta name="referrer" content="always">
    <meta name="referrer" content="no-referrer">
    <link href="{{ asset("cy/m/common.css") }}" rel="stylesheet">
    <script src="{{ asset("cy/m/jquery.min.js") }}"></script>
    <script src="{{ asset("cy/m/assembly.js") }}"></script>
    <script src="{{ asset("cy/m/swiper.min.js") }}"></script>
    <link rel="icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset("cy/favicon.ico") }}" type="image/x-icon">
</head>
<body data-new-gr-c-s-check-loaded="14.1050.0" data-gr-ext-installed="">
{% block body %}
{% endblock %}
<div>
    <div class="title-a cf box">
        <h2 class="l cor2"><span class="weight">友情链接</span></h2>
        <div class="r siza"><a class="cor4" href="https://hilaiya.com/index.php/label/link.html" title="申请友联">申请友联<i class="fa"></i></a></div>
    </div>
    <ul class="link cf">
    </ul>
</div>
<div></div>
<div id="leftlist" class="left-listbody-a">
    <div id="llof" class="leftmenubg"></div>
    <div class="left-list lcb">
        <div class="sidenv-top" style="background:#29abe2">
            <a class="sidenv_exit" href="https://hilaiya.com/index.php/user/login.html"><i class="fa rg6"></i>登陆</a>
            <a href="https://hilaiya.com/index.php/user/login.html" class="sidenv_user">
                <em><img src="./老虎TV - 专属于新西兰华人,海外华人的在线视频媒体平台,海量高清视频在线观看_files/240c3b39ac935a30fa1d227698f0aa33.png"></em>
                <p class="fyy">登陆后发现更多精彩...</p>
            </a>
            <div class="comiis_svg_box">
                <div class="comiis_svg_a"></div>
                <div class="comiis_svg_b"></div>
            </div>
        </div>
        <div class="bottom ">
            <ul>
                <li><a href="https://hilaiya.com/"><i class="co6 fa"></i>首页</a></li>
                <li>
                    <a href="https://hilaiya.com/index.php/vod/type/id/1.html" title="电影"><i class="co0 fa"></i><span>电影</span></a>
                </li>
                <li>
                    <a href="https://hilaiya.com/index.php/vod/type/id/2.html" title="电视剧"><i class="co1 fa"></i><span>电视剧</span></a>
                </li>
                <li>
                    <a href="https://hilaiya.com/index.php/vod/type/id/3.html" title="综艺"><i class="co2 fa"></i><span>综艺</span></a>
                </li>
                <li>
                    <a href="https://hilaiya.com/index.php/vod/type/id/4.html" title="动漫"><i class="co3 fa"></i><span>动漫</span></a>
                </li>
                <li><a href="https://hilaiya.com/index.php/label/rank.html"><i class="co3 fa"></i>影视排行</a></li>
                <li><a href="https://hilaiya.com/index.php/map/index.html"><i class="co1 fa"></i>最新更新</a></li>
                <li><a href="https://hilaiya.com/index.php/gbook/index.html"><i class="co2 fa"></i>留言板</a></li>
                <li><a href="https://hilaiya.com/index.php/user/plays.html"><i class="co3 fa"></i>观看记录</a></li>
                <li><a href="https://hilaiya.com/index.php/actor/index.html"><i class="co7 fa"></i>明星</a></li>
                <li><a href="https://hilaiya.com/ds.php/live"><i class="co2 fa"></i>直播</a></li>
                <li><a href="https://hilaiya.com/ds.php/viv"><i class="co4 fa"></i>电视直播</a></li>
                <li><a href="https://hilaiya.com/index.php/topic/index.html"><i class="co2 fa"></i>专题</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="ec_mh_foot back">
    <p class="top cor4">老虎TV TV网站内所有内容来源于互联网，仅提供网页资讯交流服务，本站并不制作、不存储任何视频及其任何相关内容，且不承担任何由于内容的合法性及健康性所引起的一切争议和法律责任。
        <br>
        若本站收集的节目无意侵犯了贵司版权，请联系我们，我们将在第一时间删除相应资源
        <br>
        Copyright ©&nbsp; 老虎TV TV - Email: hilaiya.com@protonmail.com、上传,邮箱：hilaiya.com@protonmail.com</p>
    <p class="comiis_mh_copy cor2">Copyright © 2021 老虎TV - 专属于新西兰华人,海外华人的在线视频媒体平台,海量高清视频在线观看</p>
</div>
<div class="ec-footer_scroll">
    <div class="ec-lrmenu">
        <a href="javascript:;" style="display:none" id="scrollUp" title="返回顶部"><i class="fa"></i></a>
        <a href="https://hilaiya.com/template/Ds-pc/weixinKeFu/index.html" title="客服"><i class="fa"></i></a><a href="https://hilaiya.com/index.php/label/search.html" title="搜索"><i class="fa"></i></a><a href="https://hilaiya.com/index.php/gbook/index.html" title="留言"><i class="fa"></i></a> <a href="javascript:;" onclick="location.reload()" title="刷新"><i class="fa"></i></a>
    </div>
    <a href="javascript:;" title="菜单" class="ec-lrmenukey ol2"><i class="fa"></i></a>
</div>
<div class="popup allPopup hide">
    <div class="zdbj"></div>
    <div class="popup-box lcb br">
        <h2 class="popup-title cor2">老虎TV TV公告</h2>
        <div class="popup-content cor2"><h4 style="color:#4e96f5">视频评论功能已正式上线啦，大家速速踊跃在视频下方评论您的观后感吧</h4>
            <br>
            <p style="color:#0694FF">求片：搜索不到您要看的视频? 不满意视频清晰度？点击右下角的留言板链接并留言您要的视频名字，我们会尽快处理！</p>
            <br>
            用户注册：请不要使用手机或邮箱进行注册，请用任意用户名注册。
        </div>
        <div class="popup-btn"><a class="popup-conch buthide ol2" style="margin-right:4%;" href="javascript:;">朕已阅</a><a class="popup-subs buthide ol7" href="javascript:;">取消</a></div>
    </div>
</div>
</body>
</html>