{% extends 'base_dy.html.twig' %}
{% block body %}
    <body data-new-gr-c-s-check-loaded="14.1043.0" data-gr-ext-installed="">
    <div class="container">
        {% include 'head.html.twig' %}
        <div class="special list_r cclear">
            <ul class="breadcrumb cclear">
                <li><a href="{{ path("index") }}">首页</a></li>
                <li class="active">{{ title }}</li>
            </ul>
            <ul>
                {% for top in pagination %}
                    <li class="list-group-item"><b>{{ top.date }}</b><a href="{{ path('topic_list',{id:top.id}) }}" title="{{ top.title }}">{{ top.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="navigation text-center ">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="vod_right">
            <div class="top">
                <script src="{{ asset("dy/right.js") }}"></script>
            </div>
            <div class="list-group cclear">
                <div class="cclear" id="heading-text">热门专题排行</div>
                <ul>
                    {% for hot in hotList %}
                        <li class="list-group-item"><a href="{{ path('topic_list',{id:hot.id}) }}" title="{{ hot.title }}">{{ hot.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
    </body>
{% endblock %}
