{% extends 'base_dy.html.twig' %}
{% block body %}

    <div class="container">
        {% include 'head.html.twig' %}
        <div class="list_r cclear">
            <ul class="breadcrumb cclear">
                <li><a href="{{ path("index") }}">首页</a></li>
                <li class="active">{{ title }}</li>
            </ul>
            <div id="list_all">
                <ul>
                    {% for dy in pagination %}
                        <li><a href="{{ path('detail',{id:dy.id}) }}"><img class="lazy"
                                                                           data-original="http://image.hilaiya.com/img/61ea5c53e1d27c7bed1bbff9.jpg"
                                                                           src="http://image.hilaiya.com/img/61ea5c53e1d27c7bed1bbff9.jpg"
                                                                           alt="《{{ dy.title }}》"
                                                                           style="display: block;">
                                <span class="rate badge">{{ dy.rating }}</span></a>
                            <div class="text_info">
                                <h2><a href="{{ path('detail',{id:dy.id}) }}">{{ dy.longTitle }}</a></h2>
                                <p class="actor">
                                    {% for star in dy.stars %}
                                        <span><a rel="nofollow" target="_blank" href="{{ path('search_keyword',{keyword:star}) }}">{{ star }}</a></span> /
                                    {% endfor %}
                                </p>
                                <p>
                                    <span class="area">{{ dy.area }}</span>
                                    <span class="update_time">{{ dy.pageDate }}</span>
                                </p>
                                <p class="info">{{ dy.introduction[:60] ~ '...' }}</p>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="navigation text-center ">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="vod_right">
            <div class="top">
                <script src="{{ asset("right.js") }}"></script>
            </div>
            <div class="list-group cclear">
                <div class="cclear" id="heading-text">近期下载排行</div>
                <ul>
                    {% for re in recommend %}
                        <li class="list-group-item"><a href="{{ path('detail',{id:re.infoId}) }}" title="{{ re.title }}">{{ re.title }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
{% endblock %}
