{% extends 'base.html.twig' %}
{% block body %}
    <div class="vod-rank-banner"></div>
    <div class="vod-rank-tab">
        <ul>
            <li class="tab-item"><a href="javascript:void(0)" class="tab-link active">最新更新</a></li>
        </ul>
    </div>
    <div class="wwp top20">
        <div class="listdh size">
            <div class="vod-rank-list t-u">
                <div class="vod-sum-head">
                    <span class="head-en">dianying</span>
                    <h3 class="head-txt">电影</h3>
                </div>
                <ul>
                    {% for k,info in movie %}
                        <li class="sum-li cf">
                            <a class="cor3 item-link" href="{{ path('detail',{id:info.id}) }}" target="_blank">
                                <div class="mod-left cf">
                                    <div class="rank-num">
                                        <span class="ecrank-no">NO</span>
                                        <div class="list-rank-num cohot{{ k+1 }} cor3">{{ k+1 }}</div>
                                    </div>
                                    <div class="mod-img-link">
                                        <img src="{{ path('img',{id:info.imgUrl}) }}" alt="{{ info.title }}" title="{{ info.title }}">
                                        <span class="pack-bg"></span>
                                        <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                                    </div>
                                </div>
                                <div class="mod-right cor2">
                                    <h3 class="main-title hidden">{{ info.title }}</h3>
                                    <p title="{{ info.title }}" class="sub-des hidden cor3">{{ info.stars| join(',') }}</p>
                                    <div class="sub-title cor3"><i class="fa">&#xe713;</i>{{ info.vodRemarks }}</div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="vod-rank-list t-u">
                <div class="vod-sum-head">
                    <span class="head-en">dianshiju</span>
                    <h3 class="head-txt">电视剧</h3>
                </div>
                <ul>
                    {% for k,info in dsj %}
                        <li class="sum-li cf">
                            <a class="cor3 item-link" href="{{ path('detail',{id:info.id}) }}" target="_blank">
                                <div class="mod-left cf">
                                    <div class="rank-num">
                                        <span class="ecrank-no">NO</span>
                                        <div class="list-rank-num cohot{{ k+1 }} cor3">{{ k+1 }}</div>
                                    </div>
                                    <div class="mod-img-link">
                                        <img src="{{ path('img',{id:info.imgUrl}) }}" alt="{{ info.title }}" title="{{ info.title }}">
                                        <span class="pack-bg"></span>
                                        <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                                    </div>
                                </div>
                                <div class="mod-right cor2">
                                    <h3 class="main-title hidden">{{ info.title }}</h3>
                                    <p title="{{ info.title }}" class="sub-des hidden cor3">{{ info.stars| join(',') }}</p>
                                    <div class="sub-title cor3"><i class="fa">&#xe713;</i>{{ info.vodRemarks }}</div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="vod-rank-list t-u">
                <div class="vod-sum-head">
                    <span class="head-en">zongyi</span>
                    <h3 class="head-txt">综艺</h3>
                </div>
                <ul>
                    {% for k,info in zy %}
                        <li class="sum-li cf">
                            <a class="cor3 item-link" href="{{ path('detail',{id:info.id}) }}" target="_blank">
                                <div class="mod-left cf">
                                    <div class="rank-num">
                                        <span class="ecrank-no">NO</span>
                                        <div class="list-rank-num cohot{{ k+1 }} cor3">{{ k+1 }}</div>
                                    </div>
                                    <div class="mod-img-link">
                                        <img src="{{ path('img',{id:info.imgUrl}) }}" alt="{{ info.title }}" title="{{ info.title }}">
                                        <span class="pack-bg"></span>
                                        <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                                    </div>
                                </div>
                                <div class="mod-right cor2">
                                    <h3 class="main-title hidden">{{ info.title }}</h3>
                                    <p title="{{ info.title }}" class="sub-des hidden cor3">{{ info.stars| join(',') }}</p>
                                    <div class="sub-title cor3"><i class="fa">&#xe713;</i>{{ info.vodRemarks }}</div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="vod-rank-list t-u">
                <div class="vod-sum-head">
                    <span class="head-en">dongman</span>
                    <h3 class="head-txt">动漫</h3>
                </div>
                <ul>
                    {% for k,info in dm %}
                        <li class="sum-li cf">
                            <a class="cor3 item-link" href="{{ path('detail',{id:info.id}) }}" target="_blank">
                                <div class="mod-left cf">
                                    <div class="rank-num">
                                        <span class="ecrank-no">NO</span>
                                        <div class="list-rank-num cohot{{ k+1 }} cor3">{{ k+1 }}</div>
                                    </div>
                                    <div class="mod-img-link">
                                        <img src="{{ path('img',{id:info.imgUrl}) }}" alt="{{ info.title }}" title="{{ info.title }}">
                                        <span class="pack-bg"></span>
                                        <span class="pack-prb hidden">{{ info.vodRemarks }}</span>
                                    </div>
                                </div>
                                <div class="mod-right cor2">
                                    <h3 class="main-title hidden">{{ info.title }}</h3>
                                    <p title="{{ info.title }}" class="sub-des hidden cor3">{{ info.stars| join(',') }}</p>
                                    <div class="sub-title cor3"><i class="fa">&#xe713;</i>{{ info.vodRemarks }}</div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}