{% extends 'm/base.html.twig' %}
{% block title %}  电视剧 电视剧专题 免费 在线电影 高清蓝光 伦理{% endblock %}
{% block keywords %} 电视剧 电视剧专题 免费 在线电影 伦理{% endblock %}
{% block body %}
    <div class="head-c">
        <div class="cf ol2" style="position:fixed;z-index: 99;left: 0;right: 0;top: 0;">
            <div class="nav-a" style="position: relative;background:inherit">
                <div class="l" style="width: 1.6rem;"><a class="logo" style="background-image: url({{ asset("cy/kt.png") }});" href="{{ path("index") }}"></a></div>
                <h2><a href="{{ path("search_m") }}" class="search cf"><span class="l sotitle">输入影片或演员名称</span><span class="soinoc fa r"></span></a></h2>
                <div class="r cf">
                    {#                    <a class="fa r" href=""></a> #}
                    <a class="fa r leftlistshow listNav" href="javascript:;"></a>
                </div>
            </div>
            <div class="swiper-container2 l hidden swiper-container-initialized swiper-container-horizontal swiper-container-android">
                <ul id="nav-bar" class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                    <li class="swiper-slide ecnav-dt swiper-slide-active"><a href="{{ path('index') }}">首页</a></li>
                    <li class="swiper-slide swiper-slide-next"><a href="{{ path('dy') }}">电影</a></li>
                    <li class="swiper-slide"><a href="{{ path('tv') }}">电视剧</a></li>
                    <li class="swiper-slide"><a href="{{ path('zy') }}">综艺</a></li>
                    <li class="swiper-slide"><a href="{{ path('dm') }}">动漫</a></li>
                </ul>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <div style="height:2.22rem"></div>
        <div class="bottom">
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    {% for k,info in topicList %}
                        <div class="swiper-slide swiper-color" edata-color="#333">
                            <a class="index-swiper-bg" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}" style='background-image: url({{ path('img',{id:info.imgUrl}) }});' alt="{{ info.title }}{{ info.vodRemarks }}"></a>
                            <div class="ec-swiper-bottom" style="bottom:.2rem;"><h1 class="title h1 hidden">{{ info.title }}·{{ info.vodRemarks }}</h1></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="nav-quick box" style="padding-top:.2rem;padding-bottom:.2rem;padding-right:2.42667rem;">
        <ul class="cf">
            <li class="back"><a href="{{ path("show_category",{'type':type,'tag':'国产剧'}) }}" class="item"><span>国产剧</span></a></li>
            <li class="back"><a href="{{ path("show_category",{'type':type,'tag':'台湾剧'}) }}" class="item"><span>台湾剧</span></a></li>
            <li class="back"><a href="{{ path("show_category",{'type':type,'tag':'香港剧'}) }}" class="item"><span>香港剧</span></a></li>
            <li class="back"><a href="{{ path("show_category",{'type':type,'tag':'日本剧'}) }}" class="item"><span>日本剧</span></a></li>
            <li class="back"><a href="{{ path("show_category",{'type':type,'tag':'海外剧'}) }}" class="item"><span>海外剧</span></a></li>
        </ul>
        <div class="more on"><i class="mbg"></i><a href="{{ path("show_category",{'type':type}) }}"><span class="back"><i class="fa">&#xe8c0;</i>全部</span></a></div>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2"><span class="weight"><i class="fa on">&#xe7c4;</i>热映推荐</span>
                    {#                                    <a class="cor4" href="/index.php/label/rb.html" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a>#}
                </h2>
                {#                <div class="r siza on"> 共"17449"部影视</div> #}
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in hotList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    {#    <div class="ec-ad top20"><a href="" target="_blank"><img src="#" alt="分类页广告位"></a></div> #}
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">国产剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'国产剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in gcList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">台湾剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'台湾剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in twList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">香港剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'香港剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in xgList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">日本剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'日本剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in rbList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">泰剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'泰剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in tList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">海外剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'海外剧'}) }}l" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in hwList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">美国剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'美国剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in mgList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <div class="box">
        <section>
            <div class="title-a cf">
                <h2 class="l cor2">
                    <span class="weight">韩国剧</span>
                </h2>
                <div class="r siza"><a class="cor4" href="{{ path("show_category",{'type':type,'tag':'韩国剧'}) }}" title="更多热映影视点击这里">更多<i class="fa">&#xe62d;</i></a></div>
            </div>
            <div class="list-a size">
                <ul>
                    {% for k,info in hgList %}
                        <li class="list-width volistwidthb">
                            <div class="top list-hide volistheightb">
                                <a class="img" href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">
                                    <div class="lazy eclazy br" data-original="{{ path('img',{id:info.imgUrl}) }}" style="background-image: url({{ asset("cy/lh.png") }}); display: block;"></div>
                                    <span class="pack-bg br-bt"></span>
                                    <span class="list-tag" style="background:#;">{{ info.area }}</span>
                                    <span class="list-remarks hidden">{{ info.vodRemarks }}</span>
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="title hidden">
                                    <a href="{{ path('detail',{id:info.id}) }}" title="{{ info.title }}">{{ info.title }}</a>
                                </div>
                                <div class="bt hidden cor4">{{ info.stars| join(',') }}</div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        var viewHeight = document.documentElement.clientHeight//获取可视区高度
        function lazyload() {
            var eles = document.querySelectorAll('div[data-original]')
            Array.prototype.forEach.call(eles, function (item, index) {
                var rect
                if (item.dataset.original === "")
                    return
                rect = item.getBoundingClientRect()// 用于获得页面中某个元素的左，上，右和下分别相对浏览器视窗的位置
                if (rect.bottom >= 0 && rect.top < viewHeight) {
                    !function () {
                        var img = new Image()
                        img.src = item.dataset.original
                        img.onload = function () {
                            item.style.backgroundImage = "url(" + img.src + ")";

                        }
                        item.removeAttribute("data-original")//移除属性，下次不再遍历
                        item.removeAttribute("lazyload")
                    }()
                }
            })
        }

        lazyload()//刚开始还没滚动屏幕时，要先触发一次函数，初始化首页的页面图片
        document.addEventListener("scroll", lazyload)

        var swiper = new Swiper(".swiper-container1", {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
{% endblock %}